<div class="cell70 block flexColumn">
	<div class="blockTitle">Basic information</div>
	<h1 class="entityName">
		<label for="name">Name:</label>
		<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
	</h1>
	<div class="flexRow infoBlock flexBetween">
		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="data.quantity" >Quantity:</label>
			<input class="cell40" type="text" id="data.quantity" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
		</div>

		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="data.weight">Weight:</label>
			<input class="cell40" type="text" id="data.weight" name="data.weight" value="{{data.weight}}" data-dtype="String" />
		</div>

		<div class="cell100 flexRow verticalCenter flexBetween">
			<label class="cell30" for="data.rarity">{{localize "PRIME.item_rarity"}}:</label>
			<select name="data.rarity" id="data.rarity" class="itemRarity cell70">
				{{#select data.rarity}}
				{{#each tables.rarity}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="cell100 flexRow verticalCenter flexBetween lastRow">
			<label class="cell30" for="data.setting">{{localize "PRIME.core_setting"}}:</label>
			<select name="data.setting" id="data.setting" class="itemRarity cell70">
				{{#select data.setting}}
				{{#each coreTables.settings}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
</div>