<div class="flexRow block flexBetween">
	<div class="blockTitle">Value</div>
	<div class="cell50 flexColumn">
		<label for="data.valueTypeID">Type: </label>
		<select id="data.valueTypeID" name="data.valueType" class="itemValueType">
			{{#select data.valueType}}
			<option value="personal">Personal $</option>
			<option value="ship">Ship $</option>
			{{/select}}
		</select>
	</div>
	<div class="cell50 flexColumn">
		<label  for="data.valueAmount">Amount: </label>
		<input type="text" id="data.valueAmount" name="data.valueAmount" value="{{data.valueAmount}}" data-dtype="Number" />
	</div>
</div>