# Ignore everything in the JS folder.
Javascript/*

# Check for things in these specific folders (and subfolders)
!Javascript/builder/
!Javascript/checkout/
!Javascript/common/
!Javascript/customer-area/
!Javascript/feature-pages/
!Javascript/giftfinderv2/
!Javascript/imports/
!Javascript/lightning-deals-page/
!Javascript/product-page/
!Javascript/advanced-search-v2/
