{
   "extends":"stylelint-config-sass-guidelines",
   "plugins":[
      "stylelint-order"
   ],
   "rules":{
      "indentation":2,
      "number-leading-zero":null,
      "selector-max-id":1,
      "max-nesting-depth":1000,
      "order/order":[
         "custom-properties",
         "declarations"
      ],
      "order/properties-alphabetical-order":false
   }
}