<div class="rollerAction"><label for="rollerAction">Action:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerPrime"><label for="rollerPrime">Prime:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerRefinement"><label for="rollerRefinement">Refinement:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerItem"><label for="rollerItem">Item:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerPerks"><label for="rollerPerks">Perks:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerModifier">
<label for="rollerModifier">Modifier:</label>
<input id="rollerModifier" type="number" title="modifier" value="{{sheet.roller.modifier}}"
       data-dyn-type="number"
       data-dyn-change-at="sheet.roller.modifier"
       data-dyn-render-off/>
</div>
<div class="rollerVisibility"><label for="rollerVisibility">Visibility:</label><i class="fa fa-wrench" aria-hidden="true"></i></div>
<div class="rollerClose"><i
        data-dyn-click-at="sheet.roller.dismiss()"
        data-dyn-render-off
        class="fas fa-chevron-circle-left"></i></div>