<div class="primeCard itemCard itemCardPerk {{partialClasses}}" data-item-index="{{itemIndex}}">
    <div class="cardTitle"><a class="itemTitle stopDrag" data-item-id="{{this.itemID}}">{{this.name}}</a></div>
    <div class="cardTopRightDetail">{{this.system.cost.amount}}</div>

	<div class="cardDetail stopDrag">
		<div class="cardDescription">
			{{#if this.system.description}}
			<div>{{{this.system.description}}}</div>
			{{/if}}

			{{#if this.system.settingDescription}}
			<div>{{{this.system.settingDescription}}}</div>
			{{/if}}
		</div>

		<div class="cardBottomRightDetail removePerk"><a class="deleteItemIcon stopDrag" data-item-id={{this.itemID}}><i class="fas fa-trash stopDrag stopClose"></i></a></div>

		{{#ifCond this.system.cost.attributeType "==" "perkCostXP" }}
		<div class="cardRightCenterDetail perkCost hasTooltip" title="Perk cost XP">XP</div>
		{{/ifCond}}

		{{#ifCond this.system.cost.attributeType "==" "perkCostSoul" }}
		<div class="cardRightCenterDetail perkCost hasTooltip" title="Perk cost Soul">S</div>
		{{/ifCond}}
	</div>
</div>