<div class="primeCard itemCard itemCardAction action{{this.source.actionType}} {{#if (and @root.sheet.roller.open (equal this.id @root.sheet.roller.selectedActionId))}}selectedRollerAction{{/if}}"
		data-dyn-render-off
		data-dyn-id="{{this.id}}">
    <div class="cardTitle">
		<a class="itemTitle">{{this.source.name}}</a>
		<a class="showActionInfoIcon" data-dyn-click-at="actor.actions.displayAction()" data-dyn-click-id="{{this.id}}" data-dyn-render-off>
			<i class="fas fa-info-circle fa-xs"></i>
		</a> 
	</div>
    <div class="cardTopRightDetail titled"><div class="tinyTitle">AP</div>{{this.source.actionPoints}}</div>

    
	<div class="cardDetail">
		<div class="cardDescription">
			{{#if this.source.descriptions.core}}
			<div>{{{this.source.descriptions.core}}}</div>
			{{/if}}

			{{#if this.source.descriptions.setting}}
			<div>{{{this.source.descriptions.setting}}}</div>
			{{/if}}
		</div>

		{{#if this.source.metadata.default}}
		<div class="cardBottomRightDetail isDefaultIcon defaultIcon hasTooltip" title="Default action">D</div>
		{{else}}
		<div class="cardBottomRightDetail isDefaultIcon purchasedIcon hasTooltip" title="Perk purchased to unlock action">$</div>
		{{/if}}
	</div>
</div>