<div class="primeCard itemCard itemCardAction action{{this.source.actionType}}">
    <div class="cardTitle"><a class="itemTitle"
                              data-dyn-click-at="actor.actions.displayAction()"
                              data-dyn-click-id="{{this.id}}">{{this.source.name}}</a></div>
    <div class="cardTopRightDetail titled"><div class="tinyTitle">AP</div>{{this.source.points}}</div>
    
	<div class="cardDetail">
		<div class="cardDescription">
			{{#if this.source.descriptions.core}}
			<div>{{{this.source.descriptions.core}}}</div>
			{{/if}}

			{{#if this.source.descriptions.setting}}
			<div>{{{this.source.descriptions.setting}}}</div>
			{{/if}}
		</div>

		{{#if this.source.metadata.default}}
		<div class="cardBottomRightDetail isDefaultIcon defaultIcon hasTooltip" title="Default action">D</div>
		{{else}}
		<div class="cardBottomRightDetail isDefaultIcon purchasedIcon hasTooltip" title="Perk purchased to unlock action">$</div>
		{{/if}}
	</div>
</div>