<form class="{{cssClass}} {{#if editable}}isEditable{{/if}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<div class="metaDataContent flexColumn">
		<div class="metaDataContentInner flexRow">
			{{> actorBaseMetadata partialClasses='cell50'}}

			<div class="flexColumn cell50 verticalCenter">
				<h2 class="systemTitle"><span class="bigCaps">P</span>OSSESSIO<span class="bigCaps">N</span></h2>
				<h3 class="campaignTitle"><span class="bigCaps">A</span>ETHERNAUTS</h2>
			</div>
			
			<div class="toggleEditableWrapper">
				<a class="toggleCharacterEditing" title="Toggle to editable">
					<i class="fas fa-edit fa-lg"></i>
				</a>
				<a class="toggleCharacterLocked" title="Toggle to locked">
					<i class="fas fa-lock fa-lg"></i>
				</a>
			</div>
		</div>

		<div class="metaDataContentInner flexRow flexBetween">
			{{> actorPhysicalHealth partialClasses='cell50'}}

			<div class="cell50 flexColumn">
				{{> actorActionPoints}}

				<div class="soulAndXP flexRow">
					{{> actorSoulPoints partialClasses='cell50'}}

					{{> actorExperiencePoints partialClasses='cell50'}}
				</div>
			</div>
		</div>
	</div>

	<div class="weaponsContent">
		{{> itemListMeleeWeapons partialClasses=''}}

		{{> itemListRangedWeapons partialClasses=''}}
	</div>

	{{> itemListArmour partialClasses=''}}

	
	{{> actorPrimesAndRefinements partialClasses=''}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Inventory</a>
		<a class="item" data-tab="features">Perks</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			{{> itemListGeneral partialClasses=''}}
		</div>

		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			Coming soon!
		</div>

	</section>
</form>

