<form id="appId_{{prime.uid}}"
	  class="{{cssClass}} {{isV2CharacterClass}} {{#if editable}}isEditable{{/if}} actorFormWrapper {{isFromTokenClass}}"
	  autocomplete="off">

	{{!-- Sheet Header --}}
	<div class="metaDataContent flexColumn">
		<div class="metaDataContentInner flexRow">
			{{> actorBaseMetadata partialClasses='cell50'}}

			<div class="flexColumn cell50 flexBetween">
				<div class="flexColumn verticalCenter flexGrow">
					<h2 class="systemTitle"><span class="bigCaps">P</span>OSSESSIO<span class="bigCaps">N</span></h2>
					<h3 class="campaignTitle"><span class="bigCaps">A</span>ETHERNAUTS</h3>
				</div>
				{{> actorActionPoints partialClasses='cell100 bottomBlockTitle flexGrow'}}
			</div>

			<div class="toggleEditableWrapper">
				<a class="toggleCharacterEditing" title="Toggle to editable">
					<i class="fas fa-edit fa-lg"></i>
				</a>
				<a class="toggleCharacterLocked" title="Toggle to locked">
					<i class="fas fa-lock fa-lg"></i>
				</a>
			</div>
			<div class="isNPCWrapper flexRow verticalCenter flexEnd">
				<label for="prime.actor.profile.npc" class="resource-label rightAlign cell50 shrinkFontForNarrow" title="Tick to denote this is an NPC">NPC:</label>
				<input type="checkbox" id="prime.actor.profile.npc"
					   data-prime-at="actor.profile.npc"
					   class="cell50" {{checked prime.actor.profile.npc}}/>
			</div>
		</div>

		<div class="metaDataContentInner flexRow flexBetween flexWrap">
			{{> actorPhysicalHealth partialClasses='cell50'}}

			{{> actorMentalHealth partialClasses='cell50'}}
		</div>
	</div>

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item tableTitle" data-tab="statistics">Primes</a>
		<a class="item tableTitle" data-tab="perks">Perks</a>
		<a class="item tableTitle" data-tab="combat">Combat</a>
		<a class="item tableTitle" data-tab="inventory">Inventory</a>
		<a class="item tableTitle" data-tab="description">Description</a>
		<a class="item tableTitle" data-tab="notes">Notes</a>
	</nav>

	<section class="sheet-body tabbedSection">

		<div class="tab statistics" data-group="primary" data-tab="statistics">
			{{> actorTabStatistics}}
		</div>

		<div class="tab perks" data-group="primary" data-tab="perks">
			{{> actorTabPerks}}
		</div>

		<div class="tab combat" data-group="primary" data-tab="combat">
			{{> actorTabCombat}}
		</div>

		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> actorTabInventory}}
		</div>

		<div class="tab description" data-group="primary" data-tab="description">
			{{> actorTabDescription}}
		</div>

		<div class="tab notes" data-group="primary" data-tab="notes">
			{{> actorTabNotes}}
		</div>

	</section>
</form>

