<div class="cell70 block flexColumn">
	<div class="blockTitle">Basic information</div>
	<h1 class="entityName">
		<label for="name">Name:</label>
		<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
	</h1>
	
	<div class="flexRow infoBlock flexBetween">
		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="system.quantity" >Quantity:</label>
			<input class="cell40" type="text" id="system.quantity" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
		</div>

		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="system.weight">Weight:</label>
			<input class="cell40" type="text" id="system.weight" name="system.weight" value="{{system.weight}}" data-dtype="String" />
		</div>

		<div class="cell100 flexRow verticalCenter flexBetween">
			<label class="cell30" for="system.rarity">{{localize "PRIME.item_rarity"}}:</label>
			<select name="system.rarity" id="system.rarity" class="itemRarity cell70">
				{{#select system.rarity}}
				{{#each itemTables.rarity}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="cell100 flexRow verticalCenter flexBetween lastRow">
			<label class="cell30" for="system.setting">{{localize "PRIME.core_setting"}}:</label>
			<select name="system.setting" id="system.setting" class="itemRarity cell70">
				{{#select system.setting}}
				{{#each coreTables.settings}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	<div class="ownershipStatusIcon">
		{{#if isOwned}}
		<i class="fas fa-user hasTooltip" title="Item is owned by character: '{{owningCharacterName}}'"></i>
		{{else}}
		<i class="fas fa-users hasTooltip" title="Main item template - Item is no owned."></i>
		{{/if}}
	</div>
</div>