<div class="flexRow flexBetween flexWrap block infoBlock effectBlock">
    <div class="blockTitle">{{#if effectTitle}}{{effectTitle}}{{else}}Effects{{/if}}</div>

    <div class="effectsWrapper">
        {{#each item.modifiers as |modifier|}}
            {{alias 'Items' ../static.items}}
            {{alias 'Modifiers' @Items.modifiers}}
            {{alias 'ModifiersType' (at @Modifiers modifier.type 'subTypes')}}
            {{alias 'item' ../item}}
            <div class="cell100 flexRow flexBetween flexWrap infoBlock effectWrapper">
                <div class="effectIndex">{{increment @index}}</div>
                <div class="cell100 flexRow flexBetween verticalCenter">
                    <label for="item.modifiers.collection.{{@index}}.type" class="resource-label cell30 rightAlign">Type:</label>
                    <select id="item.modifiers.collection.{{@index}}.type" class="cell70 effectFormElement"
                            data-dyn-change-at="item.modifiers.collection.{{@index}}.type"
                            data-dyn-select="item.modifiers.collection.{{@index}}.type"
                            data-dyn-disable="item.isOwned">
                        {{#each @Modifiers}}
                            <option value="{{@key}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                </div>
                {{#if (and (defined modifier.type)
                              (includes (keys @Modifiers) modifier.type)
                      )}}
                    {{#if (equalTo modifier.type 'misc')}}
                        <div class="cell100  flexRow flexBetween lastRow">
                            <label for="item.modifiers.collection.{{@index}}.rules"
                                   class="resource-label cell30 rightAlign">Rules:</label>
                            <textarea class="cell70 effectFormElement"
                                      data-dyn-change-at="item.modifiers.collection.{{@index}}.rules">{{modifier.rules}}</textarea>
                        </div>
                    {{else}}
                        <div class="cell100 flexRow flexBetween verticalCenter">
                            <label for="item.modifiers.collection.{{@index}}.target"
                                   class="resource-label cell30 rightAlign">Of:</label>
                            <select id="item.modifiers.collection.{{@index}}.target" class="cell70 effectFormElement"
                                    data-dyn-change-at="item.modifiers.collection.{{@index}}.target"
                                    data-dyn-select="item.modifiers.collection.{{@index}}.target"
                                    data-dyn-disable="item.isOwned">
                                {{#each @ModifiersType}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>

                        {{#if (and (defined modifier.target)
                                      (includes (keys @ModifiersType) modifier.target))}}
                            {{#if (not (equalTo  @ModifiersType.category 'otherItem'))}}
                            <div class="cell100 flexRow flexBetween verticalCenter ">
                                <label for="item.modifiers.collection.{{@index}}.value"
                                       class="resource-label cell30 rightAlign">{{#if (isInteger modifier.value)}}{{#if
                                        (lessThan modifier.value 0)}}
                                    Decreased{{else}}Increased{{/if}}{{else}}Modifier{{/if}}:</label>
                                <input type="number" id="item.modifiers.collection.{{@index}}.value"
                                       class="cell70 effectFormElement"
                                       value="{{#if (isInteger modifier.value)}}{{modifier.value}}{{/if}}"
                                       data-dyn-change-at="item.modifiers.collection.{{@index}}.value"
                                       data-dyn-type="number"
                                       data-dyn-disable="item.isOwned" }/>
                            </div>
                            {{/if}}
                            {{#if @item.equippable}}
                                <div class="cell100 flexRow flexEnd verticalCenter">
                                    <label for="item.modifiers.collection.{{@index}}.equipped"
                                           class="resource-label">When Equipped:</label>
                                    <input type="checkbox" id="item.modifiers.collection.{{@index}}.equipped"
                                           class="effectFormElement"
                                           data-dyn-change-at="item.modifiers.collection.{{@index}}.equipped"
                                           data-dyn-select="item.modifiers.collection.{{@index}}.equipped"/>
                                </div>
                            {{/if}}
                            <div class="cell100 flexRow flexEnd verticalCenter">
                                <label for="item.modifiers.collection.{{@index}}.situational"
                                       class="resource-label">Situational:</label>
                                <input type="checkbox" id="item.modifiers.collection.{{@index}}.situational"
                                       class="effectFormElement"
                                       data-dyn-change-at="item.modifiers.collection.{{@index}}.situational"
                                       data-dyn-select="item.modifiers.collection.{{@index}}.situational"/>
                            </div>

                            {{#if this.situational}}
                                <div class="cell100  flexRow flexBetween lastRow">
                                    <label for="item.modifiers.collection.{{@index}}.rules"
                                           class="resource-label cell30 rightAlign">Rules:</label>
                                    <textarea class="cell70 effectFormElement"
                                              data-dyn-change-at="item.modifiers.collection.{{@index}}.rules">{{modifier.rules}}</textarea>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}

                <a class="removeEffectIcon"
                   data-dyn-disable="item.isOwned"
                   data-dyn-click-at="item.modifiers.collection.{{@index}}.delete()"><i
                        class="fas fa-trash"></i></a>
            </div>
        {{/each}}

    </div>

    <a class="addEffectIcon"
       data-dyn-disable="item.isOwned"
       data-dyn-click-at="item.modifiers.add()"><i class="fas fa-plus"></i></a>
</div>