<div class="cell70 block flexColumn">
	<div class="blockTitle">Basic information</div>
    {{> itemName}}
	
	<div class="flexRow infoBlock flexBetween">
		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="item.quantity" >Quantity:</label>
			<input class="cell40" type="number" id="item.quantity"  value="{{item.quantity}}"
                   data-dyn-type="Number"
                   data-dyn-change-at="item.quantity" />
		</div>

		<div class="cell50 flexRow verticalCenter flexBetween">
			<label class="cell60" for="item.weight">Weight:</label>
			<input class="cell40" type="number" id="item.weight" value="{{item.weight}}"
                   data-dyn-type="Number"
                   data-dyn-change-at="item.weight" />
		</div>

		<div class="cell100 flexRow verticalCenter flexBetween">
			<label class="cell30" for="item.rarity">{{localize "PRIME.item_rarity"}}:</label>
			<select id="item.rarity" class="itemRarity cell70"
                    data-dyn-change-at="item.rarity"
                    data-dyn-select="item.rarity">
				{{#each static.items.rarity}}
				<option value="{{@key}}">{{this.title}}</option>
				{{/each}}
			</select>
		</div>

        {{> itemSetting partialClasses="lastRow"}}
	</div>

    {{> itemOwnership}}
</div>