<div class="flexRow block flexBetween">
	<div class="blockTitle">Valuable</div>
	<div class="cell50 flexColumn">
		<label for="valuable.type">Type: </label>
		<select id="valuable.type" class="itemValueType"
				data-dyn-change-at="item.valuable.type"
				data-dyn-select="item.valuable.type">
			<option value="personal">Personal $</option>
			<option value="ship">Ship $</option>
		</select>
	</div>
	<div class="cell50 flexColumn">
		<label  for="valuable.amount">Amount: </label>
		<input type="text" id="valuable.amount" value="{{item.valuable.amount}}"
			   data-dyn-type="Number"
			   data-dyn-change-at="item.valuable.amount" />
	</div>
</div>