<div class="{{partialClasses}} actionPoints block flexColumn">
    {{#with actor}}
    <div class="blockTitle"><span>Action points</span></div>
    <div class="metaValueContent actionPointsWrapper flexGrow">
        {{#range 0 actionPoints.max 1 false}}
        <div class='actionPointWrapper{{addStateClasses this ../actionPoints}}'>
            <input id="actionPoint-{{this}}" class="actionPointCheckbox" type="checkbox"
                   name="actionPoints"
                   data-dyn-change-at="actor.actionPoints"
                   data-dyn-type="counter"
                   data-dyn-value="{{this}}"
                   data-dyn-current="{{../actionPoints.value}}"/>
            <label for="actionPoint-{{this}}">{{this}}</label>
        </div>
        {{/range}}
    </div>
    {{/with}}
</div>