<div class="{{partialClasses}} statsContent flexRow flexWrap flexBetween">
    {{#with actor.stats}}
    {{#each sorted}}
    <div class="primesGroup primeGroup_{{statType}}">
        {{#if @first }}
        <div class="blockTitle">Primes</div>
        {{/if}}
        {{#each primes}}
<!--            {{!aliasAs 'cssClassId' (join "prime" @root.actor.id id separator='-')}}-->
            <div class="primeWrapper  {{customisableStatClass}} {{defaultItemClass}} {{#if (equal id @root.sheet.roller.selectedPrimeId)}}selectedRollerPrime{{/if}}" title="{{convertHTMLForTitle description 150}}&#xD;*DOUBLE CLICK TO EDIT VALUE*">
                {{#unless metadata.default}}
                <a class="deleteItemIcon" data-item-id={{id}} title="Delete prime"><i class="fas fa-trash"></i></a>
                {{/unless}}
                <a class="showStatInfoIcon"
                   data-dyn-click-at="actor.stats.primes.displayStat()"
                   data-dyn-render-off
                   data-dyn-id="{{id}}"><i class="fas fa-info-circle fa-xs"></i></a>
                <div id="roll-primes-{{id}}"
                     data-dyn-click-at="sheet.roller.selectPrimeToRoll()"
                     data-dyn-render-off
                     data-dyn-id="{{id}}">
                    {{#if this.metadata.customisable}}{{this.name}}{{else}}{{this.source.name}}{{/if}}</div>
                <div class="valueWrapper">
                    <input type="number" id="primes-{{id}}" value="{{unadjustedValue}}"
                           data-dyn-type="Number"
                           data-dyn-change-at="actor.stats.primes.setStatValue()"
                           data-dyn-change-key="{{id}}"
                           class="statInput primeInput"/>
                    <span class="primeValue">{{#if (equal unadjustedValue value)}}{{unadjustedValue}}{{else}}{{unadjustedValue}}&nbsp;({{value}}){{/if}}</span>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="refinementsGroup refinementGroup_{{statType}}">
        {{#if @first}}
        <div class="blockTitle">Refinements</div>
        {{/if}}
        {{#each refinements}}
<!--            {{!aliasAs 'cssClassId' (join "refinement" @root.actor.id id separator='-')}}-->
            <div class="refinementWrapper {{customisableStatClass}} {{defaultItemClass}} {{#if (equal id @root.sheet.roller.selectedRefinementId)}}selectedRollerRefinement{{/if}}"
                 title="{{convertHTMLForTitle description 150}}&#xD;*DOUBLE CLICK TO EDIT VALUE*"
                 data-dyn-class-if="customisableStat actor.stats.refinement"
                 data-dyn-class-if="defaultStat ">
                {{#unless metadata.default}}
                <a class="deleteItemIcon" data-item-id={{id}} title="Delete refinement"><i class="fas fa-trash"></i></a>
                {{/unless}}
                <a class="showStatInfoIcon"
                   data-dyn-click-at="actor.stats.refinements.displayStat()"
                   data-dyn-render-off
                   data-dyn-id="{{id}}">
                    <i class="fas fa-info-circle fa-xs"></i>
                </a>
                <div id="roll-refinements-{{id}}"
                     data-dyn-click-at="sheet.roller.selectRefinementToRoll()"
                     data-dyn-render-off
                     data-dyn-id="{{id}}">
                    {{#if this.metadata.customisable}}{{this.name}}{{else}}{{this.source.name}}{{/if}}</div>
                <div class="valueWrapper">
                    <input type="number" id="refinements-{{id}}" value="{{unadjustedValue}}"
                           data-dyn-type="Number"
                           data-dyn-change-at="actor.stats.refinements.setStatValue()"
                           data-dyn-change-key="{{id}}"
                     class="statInput refinementInput"/>
                    <span class="refinementValue">{{#if (equal unadjustedValue value)}}{{unadjustedValue}}{{else}}{{unadjustedValue}}&nbsp;({{value}}){{/if}}</span>
                </div>
            </div>
        {{/each}}
    </div>
    {{/each}}
    {{/with}}
</div>