<div class="{{partialClasses}} block bottomBlockTitle flexRow flexCenter verticalCenter">
    <div class="blockTitle">Soul</div>
    <div class="metaValueContent hasTooltip">
        <span title="Initial: {{system.soul.initial}}, Awarded: {{system.soul.awarded}}, Spent: {{system.soul.spent}}" {{#if system.soul.max.overMax}}class="soulOverMax"{{/if}}>
            {{system.soul.value}}
        </span>
        /
        <span>{{system.soul.max.current}}</span>
    </div>
    <div class="burnSoulpoint">
        <i class="game-icon game-icon-fire-silhouette icon-md"></i>
    </div>
</div>