<div class="{{partialClasses}} statsContent flexRow flexWrap flexBetween">
    {{#with prime.actor.stats}}
    {{#each sorted}}
    <div class="primesGroup primeGroup_{{statType}}">
        {{#ifCond @index "==" 0 }}
        <div class="blockTitle">Primes</div>
        {{/ifCond}}
        {{#each primes}}
        <div class="primeWrapper {{customisableStatClass}} {{defaultItemClass}}" title="{{convertHTMLForTitle description 150}}&#xD;*DOUBLE CLICK TO EDIT VALUE*">
			<a class="deleteItemIcon" data-item-id={{id}} title="Delete prime"><i class="fas fa-trash"></i></a>
			<a class="showStatInfoIcon" data-item-id={{id}} data-sourceKey="{{sourceKey}}"><i class="fas fa-info-circle fa-xs"></i></a>
            <label for="primes-{{id}}">{{title}}</label>
            <div class="valueWrapper">
                <input type="text" id="primes-{{id}}" value="{{value}}"
                       data-prime-type="Number"
                       data-prime-change-at="actor.stats.primes.setStatValue()"
                       data-prime-change-key="{{id}}"
                       class="statInput primeInput"/>
                <span class="primeValue">{{value}}</span>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="refinementsGroup refinementGroup_{{statType}}">
        {{#ifCond @index "==" 0 }}
        <div class="blockTitle">Refinements</div>
        {{/ifCond}}
        {{#each refinements}}
        <div class="refinementWrapper {{customisableStatClass}} {{defaultItemClass}}"
             title="{{convertHTMLForTitle description 150}}&#xD;*DOUBLE CLICK TO EDIT VALUE*"
             data-prime-class-if="customisableStat actor.stats.refinement"
             data-prime-class-if="defaultStat ">
			<a class="deleteItemIcon" data-item-id={{id}} title="Delete refinement"><i class="fas fa-trash"></i></a>
			<a class="showStatInfoIcon" data-item-id={{id}} data-sourceKey="{{sourceKey}}"><i class="fas fa-info-circle fa-xs"></i></a>
            <label for="refinements-{{id}}">{{title}}</label>
            <div class="valueWrapper">
                <input type="text" id="refinements-{{id}}" value="{{value}}"
                       data-prime-type="Number"
                       data-prime-change-at="actor.stats.refinements.setStatValue()"
                       data-prime-change-key="{{id}}"
				 class="statInput refinementInput"/>
                <span class="refinementValue">{{value}}</span>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
    {{/with}}
</div>