<div class="{{partialClasses}} flexRow flexBetween">
    <div class="cell33 block noTitle imageWrapper flexRow flexCenter verticalCenter">
        <img class="profileImg" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <div class="cell66 flexColumn">
		<div class="block flexColumn flexBetween">
			<div class="blockTitle">Name</div>
			<h1 class="entityName {{characterNameClass}}">
				<div class="valueWrapper">
					<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="actorValue">{{actor.name}}</div>
				</div>
			</h1>
			<h2 class="characterOwners"><label for="charName">Player: {{currentOwners}}</h2>
		</div>

        <div class="soulAndXP flexRow">
            {{> actorSoulPoints partialClasses='cell50'}}

            {{> actorExperiencePoints partialClasses='cell50'}}
        </div>
    </div>
</div>