<div class="{{partialClasses}} block actionsOuterWrapper">
    <div class="blockTitle"><span>Actions</span></div>
    <div class="actionsHolder">
        {{#with actor.actions.categorized}}
        {{#if major}}
        <div class="actionTitle">{{localize "PRIME.action_type_major_title"}}</div>
        <div class="actionCardsHolder flexRow flexWrap">
            {{#each major}}
                {{> itemCardAction}}
            {{/each}}
        </div>
        {{/if}}
        

        {{#if minor}}
        <div class="actionTitle">{{localize "PRIME.action_type_minor_title"}}</div>
        <div class="actionCardsHolder flexRow flexWrap">
            {{#each minor}}
                {{> itemCardAction}}
            {{/each}}
        </div>
        {{/if}}

        {{#if reaction}}
        <div class="actionTitle">{{localize "PRIME.action_type_reaction_title"}}</div>
        <div class="actionCardsHolder flexRow flexWrap">
            {{#each reaction}}
                {{> itemCardAction}}
            {{/each}}
        </div>
        {{/if}}

        {{#if combo}}
        <div class="actionTitle">{{localize "PRIME.action_type_combo_title"}}</div>
        <div class="actionCardsHolder flexRow flexWrap">
            {{#each combo}}
                {{> itemCardAction}}
            {{/each}}
        </div>
        {{/if}}

        {{#if weaponCombo}}
        <div class="actionTitle">{{localize "PRIME.action_type_weapon_combo_title"}}</div>
        <div class="actionCardsHolder flexRow flexWrap">
            {{#each weaponCombo as |action|}}
                {{> itemCardAction}}
            {{/each}}
        </div>
        {{/if}}
        {{/with}}
    </div>
</div>