<div class="{{partialClasses}} flexColumn mindAndProtectionsOuter">

    {{#with actor.health}}
    <div class="flexRow flexStart block topHalfBlock">
        <div class="blockTitle">Mind</div>
        <div class="cell25 flexColumn intellectBlock">
            <label for="actor.health.psyche" class="shrinkFontForNarrow">Psyche</label>
            <div class="metaValueContent flexRow flexEnd mindIntellectWrapper">
                <input type="text" class="bigNumberInput" id="actor.health.psyche" value="{{psyche.value}}"
                       data-dyn-change-at="actor.health.psyche"
                       data-dyn-type="number"/>
                <span class="mindMaxIntellect">Max: {{psyche.max}}</span>
            </div>
        </div>
        <div class="cell25 flexColumn flexCenter">
            <label class="shrinkFontForNarrow">Insanities</label>
            <div class="metaValueContent flexRow flexCenter">
                <div class="bigNumberText">{{insanities.value}} / {{insanities.max}}</div>
            </div>
        </div>
    </div>
    <div class="combinedIntellectBlock block leftBlockTitle flexRow flexCenter verticalCenter">
        <div class="blockTitle"><span>Combined</span></div>
        <div>{{combinedPsyche}}</div>
    </div>

    <div class="insanitiesBlock block rightBlockTitle flexColumn">
        <div class="blockTitle"
             data-dyn-click-at="actor.health.insanities.sort()"><span>Insanities</span></div>

        {{#range 0 insanities.slots 1 true}}
        <div class="flexRow insanityRow">
			<a class="showInjuryInfoIcon"><i class="fas fa-info-circle fa-xs"></i></a>
            <div class="couchIcon flexRow flexStart verticalCenter">
                <a class="healInsanity" title="Heal this insanity"
                   data-dyn-hide="actor.health.insanities.isHealthy()"
                   data-dyn-click-at="actor.health.insanities.cure()"
                   data-dyn-index="{{this}}">
                    <i class="fas fa-couch"></i>
                </a></div>
            <select name="insanitySelect{{this}}" class="insanitySelect"
                    data-dyn-change-at="actor.health.insanities.injure()"
                    data-dyn-select="actor.health.insanities.injuryDetail()"
                    data-dyn-disable="actor.health.insanities.isTended()"
                    data-dyn-index="{{this}}">
                <option value=""></option>
				{{#each ../../actorTables.mentalConditions}}
				<option value="{{this.key}}" title="{{convertHTMLForTitle this.description}}">{{this.title}}</option>
				{{/each}}
            </select>
            <div class="insanityCheckBoxWrapper flexRow flexCenter verticalCenter{{addInjuryClasses this ../insanities}}">
                <input type="checkbox"
                       id="insanityCheckbox-{{this}}"
                       name="insanityCheckboxes"
                       class="insanityCheckbox"
                       data-dyn-change-at="actor.health.insanities.aggravateOrAlleviate()"
                       data-dyn-value="{{this}}"
                       data-dyn-index="{{this}}"
                       data-dyn-select="actor.health.insanities.isUntended()"/>
                <label for="insanityCheckbox-{{this}}" class="flexRow flexCenter verticalCenter">{{this}}</label>
            </div>
        </div>
        {{/range}}
    </div>
    {{/with}}
    <div class="flexRow flexStart block bottomBlockTitle bottomHalfBlock">
        <div class="blockTitle">Wards</div>
        <div class="cell25 flexColumn intellectBlock">
            <div class="metaValueContent flexRow flexEnd mindArmourIntellectWrapper">
                <input type="text" class="bigNumberInput" name="data.ward.psyche.value" value="{{data.ward.psyche.value}}" data-dtype="Number" data-min="0" data-max="{{data.ward.psyche.max}}" data-lastValue="{{data.ward.psyche.value}}"/>
                <span class="mindArmourMaxIntellect">Max: {{data.ward.psyche.max}}</span>
            </div>
            <div class="mindArmourIntellectLabel shrinkFontForNarrow">Psyche</div>
        </div>
        <div class="cell25 flexColumn flexCenter">
            <div class="metaValueContent flexRow flexCenter">
                <!-- <input type="text" class="bigNumberInput" name="actorProperties.mindArmour.coverage.value" value="{{actorProperties.mindArmour.coverage.value}}" data-dtype="Number" data-min="0" data-max="{{actorProperties.mindArmour.coverage.max}}" data-lastValue="{{actorProperties.mindArmour.coverage.value}}"/> -->
                <div class="bigNumberText">{{data.ward.stability.value}}</div>
            </div>
            <div class="shrinkFontForNarrow">Stability</div>
        </div>
    </div>
</div>