@import url('prime_character_health_and_mind.css');


/* 665 or lower */
.narrowWidth
{
	
}

/* 666 to 995 */
.mediumWidth
{
	
}

/* 996 or greater */
.wideWidth
{

}

.primeCharacterSheet
{
	min-width:500px;
}

.primeCharacterSheet .actorIsCloneWrapper
{
	position: absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	display: none;
	justify-content: center;
	align-items: center;

}

.primeCharacterSheet .isCloneActor .actorIsCloneWrapper
{
	display: flex;
}

.primeCharacterSheet .actorIsCloneWrapper i::before
{
	font-size:60px;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, 2px 2px 2px rgba(206,89,55,0);
}

.actorFormWrapper
{
	display: flex;
	flex-direction: column;
}

.actorFormWrapper .tabbedSection
{
	flex:1;
}

.actorFormWrapper .tabbedSection .tab.active
{
	height:100%;
	display: flex;
	flex-direction: column;
}

.actorFormWrapper .tabbedSection .tab>.block
{
	margin-top: 0;
	margin-bottom: 0;
	flex: 1;
}

.metaDataContentInner
{
	position: relative;
}

.burnSoulpoint
{
	position: absolute;
	bottom: -5px;
	right: 0px;
	font-size: 20px;
	transform: scale(1);
	transition: all .2s ease-in-out;
	transform-origin: bottom right;
	cursor: pointer;
}

.burnSoulpoint:hover
{
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
	transform: scale(2);
}

.primeCharacterSheet input.bigNumberInput,
.primeCharacterSheet .bigNumberText
{
	width:100%;
	height:40px;
	font-size: 30px;
	text-align: center;
	background: rgba(255,255,255,0.5);
}

.primeCharacterSheet .bigNumberText
{
	background: transparent;
	display: flex;
	align-items: center;
}

.primeCharacterSheet.narrowWidth input.bigNumberInput,
.primeCharacterSheet.narrowWidth .bigNumberText
{
	font-size: var(--smallTitle-size);
	height:30px;
}

.primeCharacterSheet.narrowWidth .shrinkFontForNarrow
{
	font-size: 10px;
}


.bigMessageWrapper
{
	height: 100%;
}

.bigMessage
{
	font-size: 30px;
	text-align: center;
	line-height: normal;
}


h1.entityName
{
	margin: 0px;
	margin-top: 5px;
	text-align: center;
}

.largestNameFont
{
	font-size: 38px;
	line-height: 85%;
}

.largeNameFont
{
	font-size: 34px;
	line-height: 85%;
}

.mediumNameFont
{
	font-size: 26px;
	line-height: 85%;
}

.smallNameFont
{
	font-size: 20px;
}

.tinyNameFont
{
	font-size: 14px;
}

.narrowWidth .largestNameFont
{
	font-size: 28px;
}

.narrowWidth .largeNameFont
{
	font-size: 24px;
}

.narrowWidth .mediumNameFont
{
	font-size: 22px;
	line-height: 85%;
}

.narrowWidth .smallNameFont
{
	font-size: 16px;
}

.narrowWidth .tinyNameFont
{
	font-size: 12px;
}

.characterOwners
{
	font-size: 10px;
	margin: 0px;
	margin-bottom: -5px;
	text-align: left;
}

.primeCharacterSheet.sheetEditable .toggleCharacterEditing,
.primeCharacterSheet .toggleCharacterLocked
{
	display:none;
}
.primeCharacterSheet.sheetEditable .toggleCharacterLocked,
.primeCharacterSheet .toggleCharacterEditing
{
	display:block;
}

.primeCharacterSheet .systemTitle,
.primeCharacterSheet .campaignTitle
{
	margin: 5px;
	text-align: center;
	line-height: 90%;
	transition: font-size ease-in 0.2s;
}

.primeCharacterSheet .systemTitle
{
	font-family: 'Calistoga', cursive;
	font-size: 40px;
}

.primeCharacterSheet.narrowWidth .systemTitle
{
	font-size: 25px;
}

.primeCharacterSheet .campaignTitle
{
	font-family: 'Viaoda Libre', cursive;
	font-size: 30px;
}

.primeCharacterSheet.narrowWidth .campaignTitle
{
	font-size: 20px;
}

.bigCaps
{
	font-size: 125%;
}

.metaDataContent
{
}

.toggleEditableWrapper
{
	position: absolute;
	top: 0px;
	right: 0px;
}

.isNPCWrapper
{
	position: absolute;
	bottom: 50%;
	right: 0px;
	width:100px;
}

.userIsNotGm .isNPCWrapper
{
	display: none;
}

.primeCharacterSheet .metaDataContent .metaValues
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.primeCharacterSheet .sub-nav,
.primeCharacterSheet .sheet-tabs.tabs
{
	margin: 10px -8px 0 -8px;
	background-color: var(--textDark);
	border-color: var(--borderGrey);
	height:34px;
}


.primeCharacterSheet .sub-nav > *{
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
}

.primeCharacterSheet .sub-nav.active > *{
	opacity: 1;
 }

.primeCharacterSheet .sub-nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -1px;
	margin-bottom: 6px;
    margin-left: 2px;
    margin-right: 4px;
	padding-left: 5px;
	padding-right: 5px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid var(--borderGrey);
	border-top-width: 0px;

	color: var(--textDark);
	background: var(--textLight);

	transition: height 0.2s ease-in-out, margin-bottom 0.15s linear;
	height: 0px;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.primeCharacterSheet .sub-nav.active
{
	margin-top: 0;
	margin-bottom: 0px;
	height: 36px;
}

.primeCharacterSheet .item.tableTitle
{
	transition: all .2s ease-in-out;

	color: var(--textLight);
	background-color: var(--textDark);
}

.primeCharacterSheet .item.tableTitle.active
{
	color: var(--textDark);
	background-color: var(--textLight);
}

.primeCharacterSheet .item.tableTitle.icon{
	font-size: 18px;
	width: 36px;
	max-width: 36px;
	transition: width 1s linear .5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.perksOuterWrapper
{
	overflow: auto;
}

.perksInnerWrapper
{
	max-height: 100%;
	overflow: visible;
}


.actionsOuterWrapper
{
}

.primeCharacterSheet .actionsHolder 
{
	height: 100%;
}

.primeCharacterSheet .actionsHolder .actionTitle
{
	width: 100%;
	border-bottom: 1px solid var(--textDark);
}

.metaDataContent .actionPoints
{
	margin-left: 20px;
}

.metaValueContent.actionPointsWrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.metaValueContent .actionPointWrapper,
.metaValueContent .actionPointWrapper.activePoint.fillAnimation
{
	position: relative;
	border: 1px solid #444444;
	border-radius: 100%;
	width: 97%;
	max-width:40px;
	margin: 1.5%;
	margin-bottom: 5px;
	text-shadow: none;
	box-shadow: none;
	transition: text-shadow 0.2s ease-in, box-shadow 0.2s ease-in;
	/* transition: text-shadow var(--primary-transition), box-shadow var(--primary-transition); */
	cursor: pointer;
	background: rgba(255,255,255,0.5);
}

.metaValueContent .actionPointWrapper:first-child,
.metaValueContent .actionPointWrapper.activePoint.fillAnimation:first-child
{
	margin-bottom: 1.5%;
}
.metaValueContent .actionPointWrapper:after
{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.metaValueContent .actionPointWrapper.activePoint,
.metaValueContent .actionPointWrapper.emptyAnimation
{
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #ff6400, 0 0 6px #ff6400;
    text-shadow: 0 0 3px #ff6400;
}

.metaValueContent .actionPointWrapper input
{
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	float: left;
}

.metaValueContent .actionPointWrapper label
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 100%;
}

.soulAndXP
{
	flex:1;	
	font-size: var(--title-size);
}

.weaponsContent .meleeWeapons th,
.weaponsContent .meleeWeapons td,
.weaponsContent .rangedWeapons th,
.weaponsContent .rangedWeapons td
{
	min-width: 30px;
	padding: 5px;
	vertical-align: baseline;
	position: relative;
}


.weaponsContent .attackIconWrapper
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.weaponsContent .attackWithWeapon
{
	transform: scale(1);
	transition: all .2s ease-in-out;
}
.weaponsContent .attackWithWeapon:hover
{
	transform: scale(2);
}

.equipmentCost
{
	margin-left:5px;
}

.equipmentWeight
{
	margin-left:5px;
	margin-right:5px;
}

.statsContent
{
	margin-top:10px;
	margin-bottom:10px;
}

.statsContent .primesGroup,
.statsContent .refinementsGroup
{
	width: 20%;
	min-width: 110px;
	padding: 5px 5px 5px 5px;
    margin: 0px 5px 0px 3px;
	border-radius: 5px;
	border:1px solid var(--borderGrey);
}

.narrowWidth .statsContent .primesGroup
{
	width: 25%;
}

.statsContent .primesGroup.primeGroup_physical,
.statsContent .refinementsGroup.refinementGroup_physical
{
	position: relative;
	padding-top:18px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-width: 0;
}


.primeGroup_physical .blockTitle,
.refinementGroup_physical .blockTitle
{
	position: absolute;
	top: -1px;
	height: 15px;
	left: -1px;
	right: -1px;
	font-size:10px;
	
	background-color: var(--titleBackground);
	color: var(--textDark);
	
	border:1px solid var(--borderGrey);
	border-radius: 3px;
	display:flex;
	justify-content: center;
	align-items: center;
}


.statsContent .primesGroup.primeGroup_mental,
.statsContent .refinementsGroup.refinementGroup_mental
{
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

.statsContent .primesGroup.primeGroup_supernatural,
.statsContent .refinementsGroup.refinementGroup_supernatural,
.statsContent .primesGroup.primeGroup_supernaturual,	/* Legacy characters have mis-spelling of supernatural */
.statsContent .refinementsGroup.refinementGroup_supernaturual
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-width: 0;
}

.statsContent .primesGroup .primeWrapper
{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.statsContent .primesGroup .primeWrapper label
{
	padding-left:5px;
	margin-right:5px;
	cursor: pointer;
	text-align: right;
}

.statsContent .primesGroup .primeWrapper input
{
	position: relative;
	width:25px;
	height:25px;
	text-align: center;
}

.statsContent .primesGroup .primeWrapper .primeValue
{
	width:25px;
	height:25px;
	text-align: center;
	vertical-align: middle;
}

.statsContent .refinementsGroup
{
	width: 77%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.narrowWidth .statsContent .refinementsGroup
{
	width: 71%;
}

.statsContent .refinementsGroup .refinementWrapper
{
	position: relative;
	display: flex;
	justify-content: flex-end;
    align-items: center;
	min-width:100px;
	width:30%;
	margin:0 1.5%;
	cursor: pointer;
}

.statsContent .refinementsGroup .refinementWrapper label
{
	padding-left:5px;
	margin-right:5px;
	cursor: pointer;
	text-align: right;
}

.statsContent .refinementsGroup .primeWrapper.customisableStat label,
.statsContent .refinementsGroup .refinementWrapper.customisableStat label
{
	font-style: italic;
}

.primeCharacterSheet input
{
	position: relative;
	text-align: center;
}

.statsContent .refinementsGroup .refinementWrapper input
{
	width:25px;
	height:25px;
}

.statsContent .refinementsGroup .refinementWrapper .refinementValue
{
	width:25px;
	height:25px;
	text-align: center;
}

.primeCharacterSheet .statsContent .deleteItemIcon
{
	position: absolute;
	top:50%;
	margin-top: -8.5px;
	left:0px;
}

.primeCharacterSheet .statsContent .defaultStat
{
}

.primeCharacterSheet .statsContent .expandedStat
{
	text-shadow: 1px 1px 5px var(--primaryHighlightHalfAlpha);
}


.primeCharacterSheet .statsContent .selectedRollerPrime,
.primeCharacterSheet .statsContent .selectedRollerRefinement
{
    color: #581818;
}

.primeCharacterSheet .statsContent .selectedIndicator
{
	position: absolute;
	top: 100%;
	left: 100%;
	bottom: 0px;
	right: 0px;
	background: linear-gradient(169deg, rgba(255,100,0,0) 70%, rgba(255,0,0,0.15) 100%);
	opacity: 0;
	transition: ease-in-out 0.3s;
}
 
.primeCharacterSheet .statsContent .selectedIndicator:before,
.primeCharacterSheet .statsContent .selectedIndicator:after
{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom-right-radius: 5px;
	border-image-slice: 1;
	border-image-width: 0px 0px 1px 0px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: linear-gradient(90deg, rgba(17, 14, 11, 0) 0%, rgba(255,100,0,0.6) 80%, rgba(255,100,0,0) 100% );
	border-style: solid;
}

.primeCharacterSheet .statsContent .selectedIndicator:after
{
	border-image-width: 0px 1px 0px 0px;
	border-image-source: linear-gradient(180deg, rgba(255,100,0,0) 40%, rgba(255,100,0,0.6) 60%, rgba(255,100,0,0) 100% );
} 


.primeCharacterSheet .statsContent .selectedRollerPrime .selectedIndicator,
.primeCharacterSheet .statsContent .selectedRollerRefinement .selectedIndicator
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 0;
}

.primeCharacterSheet .tabbedSection .tabContentWrapper .block.leftBlockTitle
{
	margin-left:0px;
}

.primeCharacterSheet .tabbedSection .tabContentWrapper .block.rightBlockTitle 
{
	margin-right:0px;
}

.primeCharacterSheet .descriptionItem
{
	margin-bottom: 5px;
}
.primeCharacterSheet .descriptionItem:last-child
{
	margin-bottom: 0px;
}

.primeCharacterSheet .descriptionLabel
{
	text-align: right;
	padding-right: 5px;
}

.primeCharacterSheet .descriptionItem input
{
	text-align: left;
	margin-bottom: 1px;
}

.primeCharacterSheet .valueWrapper .descriptionValue
{
	justify-content: start;
	padding-top: 2px;
	border-bottom: 1px solid #191813;
}

.primeCharacterSheet.sheetEditable .descriptionValue,
.primeCharacterSheet .valueEditable .descriptionValue
{
	border-bottom-width: 0px;
}

.primeCharacterSheet .characterBiographyHolder .editor
{
	height: 180px;
}

.primeCharacterSheet .valueWrapper,
.primeCharacterSheet .refinementsGroup .valueWrapper,
.primeCharacterSheet .primesGroup.valueWrapper
{
	position: relative;
}

.primeCharacterSheet .refinementsGroup .valueWrapper,
.primeCharacterSheet .primesGroup.valueWrapper
{
	width:25px;
	height:25px;
}

.primeCharacterSheet .actorValue,
.primeCharacterSheet .descriptionValue,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper .refinementValue,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper .primeValue
{
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.primeCharacterSheet .statsContent .showStatInfoIcon
{
	margin-right: 5px;
}

.primeCharacterSheet .actorValue,
.primeCharacterSheet .descriptionValue,
.primeCharacterSheet .valueWrapper input,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper .refinementValue,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper .primeValue,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper input,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper input,
.primeCharacterSheet .statsContent .deleteItemIcon,
.primeCharacterSheet .statsContent .showStatInfoIcon
{
	transition: opacity ease-in 0.2s;
}

.primeCharacterSheet.sheetEditable .statsContent .refinementsGroup .refinementWrapper input,
.primeCharacterSheet.sheetEditable .statsContent .primesGroup .primeWrapper input,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper .refinementValue,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper .primeValue,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper .valueEditable input,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper .valueEditable input,
.primeCharacterSheet .actorValue,
.primeCharacterSheet .descriptionValue,
.primeCharacterSheet.sheetEditable .valueWrapper input,
.primeCharacterSheet .valueEditable.valueEditable input
.primeCharacterSheet .valueEditable .descriptionValue,
.primeCharacterSheet.sheetEditable .statsContent .deleteItemIcon,
.primeCharacterSheet .statsContent .valueEditable .deleteItemIcon,
.primeCharacterSheet .statsContent .primeWrapper:hover .showStatInfoIcon,
.primeCharacterSheet .statsContent .refinementWrapper:hover .showStatInfoIcon
{
	opacity: 1;
	z-index: 1;
}

.primeCharacterSheet.sheetEditable .characterSheetV2 .statsContent .deleteItemIcon,
.primeCharacterSheet  .characterSheetV2 .statsContent .valueEditable .deleteItemIcon
{
	display: block;
}

.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper input,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper input,
.primeCharacterSheet.sheetEditable .statsContent .refinementsGroup .refinementWrapper .refinementValue,
.primeCharacterSheet.sheetEditable .statsContent .primesGroup .primeWrapper .primeValue,
.primeCharacterSheet .statsContent .refinementsGroup .refinementWrapper .valueEditable .refinementValue,
.primeCharacterSheet .statsContent .primesGroup .primeWrapper .valueEditable .primeValue,
.primeCharacterSheet.sheetEditable .actorValue,
.primeCharacterSheet.sheetEditable .descriptionValue,
.primeCharacterSheet .valueWrapper input,
.primeCharacterSheet .valueEditable .actorValue,
.primeCharacterSheet .valueEditable .descriptionValue,
.primeCharacterSheet .statsContent .deleteItemIcon
.primeCharacterSheet.sheetEditable .statsContent .showStatInfoIcon,
.primeCharacterSheet .statsContent .showStatInfoIcon
{
	opacity: 0;
	z-index: 0;
}
.primeCharacterSheet .statsContent .deleteItemIcon
{
	display: none;
}

.primeCharacterSheet .tabbedSection .inventoryTable
{
	
}

.primeCharacterSheet .tabbedSection .inventoryTable th,
.primeCharacterSheet .tabbedSection .inventoryTable td
{
	width: 48%;
}

.primeCharacterSheet .tabbedSection .tab.notes .tabContentWrapper
{
	min-height: 100%;
	display: flex;
    flex-direction: column;
}

.primeCharacterSheet .tabbedSection .tab.notes .tabContentWrapper .block,
.primeCharacterSheet .tabbedSection .tab.notes .tabContentWrapper .block .characterNotesHolder,
.primeCharacterSheet .tabbedSection .tab.notes .tabContentWrapper .block .characterNotesHolder .editor
{
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}