<div class="primeDiceRollDialog">
	<div class="primeDiceTitle">
		<span>{{localize "PRIME.diceRoller.title"}}: </span>

		{{#ifCond actors.length ">" 0}}
		<span class="character">
			{{#ifCond actors.length ">" 1}}
			<select id="primeDiceRollerActorSelect">
				{{#each actors}}
				<option value="{{this.id}}">{{this.data.name}}</option>
				{{/each}}
			</select>
			{{else}}
			{{actors.[0].name}}
			{{/ifCond}}</span>
		{{/ifCond}}
		<span class="autorollContainer">
			<label for="autoroll">Autoroll</label>
			<input type="checkbox" id="autoroll"
			{{#if autoroll}}checked{{/if}}
			>
		</span>
		
		<span class="autocloseContainer">
			<label for="autoclose">Autoclose</label>
			<input type="checkbox" id="autoclose"
			{{#if autoclose}}checked{{/if}}
			>
		</span>
	</div>

	<div class="primeDiceRollWrapper">
		<div class="statsContent flexRow flexWrap flexBetween">
			{{#each this.sortedStats as |typeGroup key|}}
			<div class="primesGroup primeGroup_{{key}}">
				{{#ifCond key "==" "physical" }}
				<div class="blockTitle">Primes</div>
				{{/ifCond}}
				{{#each typeGroup.primes as |prime key|}}
				<button class="primeWrapper selectPrime" data-prime-key="{{key}}" data-prime-value="{{prime.value}}">
					<span class="primeTitle">{{prime.title}}</span>
					<span class="primeValue">{{prime.value}}</span>
				</button>
				{{/each}}
			</div>
			<div class="refinementsGroup refinementGroup_{{key}}">
				{{#ifCond key "==" "physical" }}
				<div class="blockTitle">Refinements</div>
				{{/ifCond}}
				{{#each typeGroup.refinements as |refinement key|}}
				<button class="refinementWrapper selectRefinement" data-refinement-key="{{key}}"
					data-refinement-value="{{refinement.value}}"
					data-refinement-default-prime="{{refinement.defaultPrime}}">
					<span class="refinementTitle">{{refinement.title}}</span>
					<span class="refinementValue">{{refinement.value}}</span>
				</button>
				{{/each}}
			</div>
			{{/each}}
		</div>
		<button class="rollPrimeDice">Roll!</button>
	</div>


	<div class="primeDiceRollerHelp">
		<span>{{localize "PRIME.diceRoller.help"}}</span>
	</div>
</div>