@font-face
{
	font-family: 'Manrope';
	src: url('manrope/static/Manrope-Regular.ttf');
	font-style: normal;
}

@font-face
{
	font-family: 'Manrope';
	src: url('manrope/static/Manrope-Bold.ttf');
	font-weight: bold;
}

@font-face
{
	font-family: 'MuseoModerno';
	src: url('museo-moderno/static/MuseoModerno-Regular.ttf');
	font-style: normal;
}

@font-face
{
	font-family: 'MuseoModerno';
	src: url('museo-moderno/static/MuseoModerno-Bold.ttf');
	font-weight: bold;
}