<div class="flexRow flexBetween verticalCenter">
	<div class="cell30 flexRow verticalCenter flexStart block">
		<div class="blockTitle">Wealth</div>
		<div class="cell60 flexRow verticalCenter flexEnd">
			<label for="data.personalWealth" class="resource-label cell70 rightAlign" title="Personal Wealth">Personal: </label>
			<input type="text" id="data.personalWealth" name="data.personalWealth" class="personalWealth cell30" value="{{data.personalWealth}}" data-dtype="Number"/>
		</div>
		
		<div class="cell40 flexRow verticalCenter flexEnd">
			<label for="data.shipWealth" class="resource-label cell70 rightAlign">Ship: </label>
			<input type="text" id="data.shipWealth" name="data.shipWealth" class="shipWealth cell30" value="{{data.shipWealth}}" data-dtype="Number"/>
		</div>
	</div>
	<div class="cell30 flexRow verticalCenter flexEnd block">
		<div class="blockTitle">Inventory</div>
		<div class="cell40 flexRow flexStart verticalCenter">
			<label class="resource-label">Weight: </label>
			<span class="equipmentWeight">{{data.totalWeight}}</span>
		</div>
		<div class="cell60 flexRow flexStart verticalCenter">
			<label class="resource-label">Value: </label>
			<span class="equipmentCost hasTooltip" title="Personal wealth total">{{data.equipmentCostPersonal}} </span>&nbsp;/ <span class="equipmentCost hasTooltip" title="Ship wealth total">{{data.equipmentCostShip}}</span>
		</div>
	</div>
</div>

{{#if inventoryItems}}
<div class="combatInventoryItems">
	{{> itemListMeleeWeapons partialClasses=''}}

	{{> itemListRangedWeapons partialClasses=''}}

	{{> itemListShield partialClasses=''}}

	{{> itemListArmour partialClasses=''}}
</div>

<div class="generalInventoryItems">
	{{> itemListGeneral partialClasses=''}}
</div>
{{else}}
<div class="bigMessageWrapper flexRow flexCenter verticalCenter">
    <div class="bigMessage">Drag items from the Items Directory <span class="item" title="Items Directory" data-tab="items"><i class="fas fa-suitcase"></i></span> onto the sheet to add items.</div>
</div>
{{/if}}