<div class="tabContentWrapper">
	<div class="block">
		<div class="blockTitle">Character notes</div>
		<div class="characterNotesHolder">
			{{editor actorNotesHTML target="system.notes" button=true owner=owner editable=editable}}
		</div>
	</div>
</div>