<div class="tabContentWrapper">
	<div class="flexRow flexBetween">
		<div class="cell50 block leftBlockTitle flexColumn flexBetween">
			<div class="blockTitle"><span>Biographics</span></div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.race">Race: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.race" type="text" value="{{actor.system.metadata.race}}" placeholder="" data-dtype=/>
					<div class="descriptionValue">{{actor.system.metadata.race}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.faction">Faction: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.faction" type="text" value="{{actor.system.metadata.faction}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.faction}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.occupation">Occupation: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.occupation" type="text" value="{{actor.system.metadata.occupation}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.occupation}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.celestial">Celestial: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.celestial" type="text" value="{{actor.system.metadata.celestial}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.celestial}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.birthplace">Birthplace: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.birthplace" type="text" value="{{actor.system.metadata.birthplace}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.birthplace}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.rankOrTitle">Rank / Title: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.rankOrTitle" type="text" value="{{actor.system.metadata.rankOrTitle}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.rankOrTitle}}</div>
				</div>
			</div>
		</div>

		<div class="cell50 block rightBlockTitle flexColumn flexBetween">
			<div class="blockTitle"><span>Vitalstatistics</span></div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.age">Age: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.age" type="text" value="{{actor.system.metadata.age}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.age}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.gender">Gender: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.gender" type="text" value="{{actor.system.metadata.gender}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.gender}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.height">Height: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.height" type="text" value="{{actor.system.metadata.height}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.height}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.weight">Weight: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.weight" type="text" value="{{actor.system.metadata.weight}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.weight}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.hair">Hair: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.hair" type="text" value="{{actor.system.metadata.hair}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.hair}}</div>
				</div>
			</div>
			<div class="descriptionItem flexRow verticalCenter">
				<label class="descriptionLabel cell30" for="actor.system.metadata.celestial">Eyes: </label>
				<div class="valueWrapper cell70">
					<input name="actor.system.metadata.eyes" type="text" value="{{actor.system.metadata.eyes}}" placeholder=""/>
					<div class="descriptionValue">{{actor.system.metadata.eyes}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="block">
		<div class="blockTitle">Background story</div>
		<div class="characterBiographyHolder">
			{{editor actorBiographyHTML target="actor.system.biography" button=true owner=owner editable=editable}}
		</div>
	</div>
</div>