<div class="flexRow flexBetween verticalCenter">
	<div class="cell30 flexRow verticalCenter flexStart block">
		<div class="blockTitle">Wealth</div>
		<div class="cell60 flexRow verticalCenter flexEnd">
			<label for="data.personalWealth" class="resource-label cell70 rightAlign" title="Personal Wealth">Personal:&nbsp;</label>
			<input type="text" id="actor.inventory.wealth.personal"  class="personalWealth cell30" value="{{actor.inventory.wealth.personal.amount}}"
                   data-dyn-change-at="actor.inventory.wealth.personal"
                   data-dyn-type="number"/>
		</div>
		
		<div class="cell40 flexRow verticalCenter flexEnd">
			<label for="actor.inventory.wealth.ship" class="resource-label cell70 rightAlign">Ship:&nbsp;</label>
			<input type="text" id="actor.inventory.wealth.ship" class="shipWealth cell30" value="{{actor.inventory.wealth.ship.amount}}"
                   data-dyn-change-at="actor.inventory.wealth.ship"
                   data-dyn-type="number"/>
		</div>
	</div>
	<div class="cell30 flexRow verticalCenter flexEnd block">
		<div class="blockTitle">Inventory</div>
		<div class="cell40 flexRow flexStart verticalCenter">
			<label class="resource-label">Weight: </label>
			<span class="equipmentWeight">{{actor.inventory.weight}}</span>
		</div>
		<div class="cell60 flexRow flexStart verticalCenter">
			<label class="resource-label">Value: </label>
			<span class="equipmentCost hasTooltip" title="Personal wealth total">{{actor.inventory.cost.personal}}</span>&nbsp;/ <span class="equipmentCost hasTooltip" title="Ship wealth total">{{actor.inventory.cost.ship}}</span>
		</div>
	</div>
</div>

{{#if inventoryItems}}
<div class="combatInventoryItems">
	{{> itemListMeleeWeapons partialClasses=''}}

	{{> itemListRangedWeapons partialClasses=''}}

	{{> itemListShield partialClasses=''}}

	{{> itemListArmour partialClasses=''}}
</div>

<div class="generalInventoryItems">
	{{> itemListGeneral partialClasses=''}}
</div>
{{else}}
<div class="bigMessageWrapper flexRow flexCenter verticalCenter">
    <div class="bigMessage">Drag items from the Items Directory <span class="item" title="Items Directory" data-tab="items"><i class="fas fa-suitcase"></i></span> onto the sheet to add items.</div>
</div>
{{/if}}