#chat-controls .chat-control-icon i.fas.fa-dice-d20 {
    position: relative;
    color: #ff6400;
    background: #ffffff;
    width: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

#chat-controls .chat-control-icon i.fas.fa-dice-d20:active {
    transform: translate(0px, 1px);
}

#chat-controls .chat-control-icon i.fas.fa-dice-d20::before {
    font-size: 24px;
    vertical-align: bottom;
}

#chat-controls .chat-control-icon i.fas.fa-dice-d20:hover {
    box-shadow: inset 0 0 3px #ff6400, 0 0 5px #ff6400;
    text-shadow: 0 0 3px #ff6400;
}

#chat-controls .chat-control-icon i.fas.fa-dice-d20::after {
    position: absolute;
    top: 1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    content: "P";
    text-align: center;
    color: black;
    font-family: 'New Rocker', cursive;
}

.primeDiceRollWrapper .statsContent .primesGroup .primeWrapper input, .primeDiceRollWrapper .statsContent .primesGroup .primeWrapper .primeValue, .primeDiceRollWrapper .statsContent .refinementsGroup .refinementWrapper input, .primeDiceRollWrapper .statsContent .refinementsGroup .refinementWrapper .refinementValue, .primeDiceRollWrapper .statsContent .primesGroup .primeWrapper .valueWrapper, .primeDiceRollWrapper .statsContent .refinementsGroup .refinementWrapper .valueWrapper {
    width: auto;
    height: auto;
}

.primeDiceRollWrapper .statsContent .primesGroup .primeWrapper .primeValue, .primeDiceRollWrapper .statsContent .refinementsGroup .refinementWrapper .refinementValue {
    margin-left: 0.5em;
}

.primeDiceRollWrapper .statsContent .refinementsGroup button.refinementWrapper, .primeDiceRollWrapper .statsContent .primesGroup button.primeWrapper {
    margin-bottom: 5px;
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid #b5b3a4;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
}

.primeDiceRollWrapper .statsContent .refinementsGroup button.refinementWrapper.selectedPrime, .primeDiceRollWrapper .statsContent .primesGroup button.primeWrapper.selectedPrime {
    background-color: rgba(225, 247, 255, 0.8);
    box-shadow: 0 0 5px #00A8E1;
}

.primeDiceRollWrapper .statsContent .refinementsGroup button.refinementWrapper.selectedRefinement, .primeDiceRollWrapper .statsContent .primesGroup button.primeWrapper.selectedRefinement {
    background-color: rgba(255, 225, 247, 0.8);
    box-shadow: 0 0 5px #E13212;
}

.primeDiceRollWrapper .statsContent .refinementsGroup button.refinementWrapper.selectedPrime.doubled, .primeDiceRollWrapper .statsContent .primesGroup button.primeWrapper.selectedPrime.doubled {
    background: linear-gradient(to right, #b3e8fc, #ffa2c9);
    box-shadow: 0 0 5px #b8860b;
}

.diceMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.diceMessage .prime-dice-actor {
    flex-basis: 15%;
    min-width:15%;
    justify-self: left;
}

.diceMessage .prime-dice-actor .actorPortrait {
    /* max-width: 50px;
    width: 50px; */
    border: 1px solid black;
}

.diceMessage .prime-dice-group {
    flex-basis: 35%;
    max-width:35%;
    display: flex;
    padding: 0 0.25em 0 0;
    justify-self: left;
}

.diceMessage .prime-dice-modifiers {
    flex-basis: 33%;
    max-width: 33%;
    padding: 0 0 0 0.25em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-self: right;
    text-align: right;
}

.diceMessage .prime-dice-modifiers .prime-dice-modifier {
    display: block;
    white-space: nowrap;
}

.diceMessage .prime-dice-modifiers .prime-dice-modifier .name {
    font-size: 12px;
    text-align: left;
}

.diceMessage .prime-dice-modifiers .prime-dice-modifier .value {
    font-size: 8px;
}

.diceMessage .prime-dice-total {
    justify-self: right;
    flex-basis: 12%;
    min-width:12%;
    min-height: 20px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diceMessage .prime-dice-total.highPrimeModifierResult {
    color: #004100;
}

.diceMessage .prime-dice-total.lowPrimeModifierResult {
    color: #410000;
}

.diceMessage .prime-dice-total.highPrimeModifierResult .value::before {
    content: "+"
}

.diceMessage .prime-dice-total .value {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.prime-dice-group .prime-die-wrapper {
    margin-right: 2px;
    margin-left: 2px;
}

.prime-dice-group .prime-die {
    position: relative;
    width: 30px;
    height: 17.32px;
    background-color: #000033;
    margin: 8.66px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prime-dice-group .prime-die:before, .prime-dice-group .prime-die:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.prime-dice-group .prime-die:before {
    bottom: 100%;
    border-bottom: 8.66px solid #000033;
}

.prime-dice-group .prime-die:after {
    top: 100%;
    width: 0;
    border-top: 8.66px solid #000033;
}

/* .prime-dice-group .prime-die-wrapper .prime-die
{
    position:relative;
    border-radius: 100%;
    background: url(../../../../ui/denim075.png) repeat;
    border: 1px solid #000000;
    margin:0.1em;
    width: 2.6em;
    height: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.prime-dice-group .prime-die-wrapper .prime-die .fas.fa-dice-d20 {
    margin: 0.1em;
    color: #444477;
    font-size: 2em;
    z-index: 1;
    /* margin-top: 4px; */
}

.prime-dice-group .prime-die-wrapper .prime-die .primeDieModifierOuter {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.prime-dice-group .prime-die-wrapper .prime-die .primeDieModifierInner {
    font-size: 1.5em;
    color: #eeeeee;
    text-shadow: 0px 0px 4px #000000;
}

.prime-dice-group .prime-die-wrapper.highPrimeRoll .prime-die .primeDieModifierInner::before {
    content: "+";
}

.prime-dice-group .prime-die-wrapper .primeResultRaw {
    text-align: center;
    font-size: 8px;
}

.prime-dice-group .prime-die-wrapper.lowPrimeRoll .fas.fa-dice-d20 {
    color: #883333;
}

.prime-dice-group .prime-die-wrapper.highPrimeRoll .fas.fa-dice-d20 {
    color: #338833;
}

.prime-dice-group .prime-die-wrapper.misfortunePrimeRoll .fas.fa-dice-d20 {
    color: #bb0000;
    font-weight: bold;
}

.prime-dice-group .prime-die-wrapper.fortunePrimeRoll .fas.fa-dice-d20 {
    color: #00bb00;
    font-weight: bold;
}

.prime-dice-group .prime-die-wrapper.fortunePrimeRoll .prime-die {
    background-color: #003300;
}

.prime-dice-group .prime-die-wrapper.fortunePrimeRoll .prime-die:before {
    border-bottom-color: #003300;
}

.prime-dice-group .prime-die-wrapper.fortunePrimeRoll .prime-die:after {
    border-top-color: #003300;
}

.prime-dice-group .prime-die-wrapper.misfortunePrimeRoll .prime-die {
    background-color: #330000;
}

.prime-dice-group .prime-die-wrapper.misfortunePrimeRoll .prime-die:before {
    border-bottom-color: #330000;
}

.prime-dice-group .prime-die-wrapper.misfortunePrimeRoll .prime-die:after {
    border-top-color: #330000;
}

.prime-dice-group .prime-die-wrapper.fortunePrimeRoll .fas.fa-dice-d20::before {
    font-weight: bold;
}

.primeDiceModiferCalculation {
    margin-top: 10px;
    color: #444;
}

.primeRollActor {
    float: right;
    clear: right;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-bottom: 3px;
}

.primeRollActor .actorPortrait {
    width: 50px;
    border: 1px solid black;
    border-top: 3px solid black;
    float: right;
    padding: 3px;
}

.primeRollActor .actorname {
    text-align: right;
    font-size: 16px;
}

/*
		<div class="roll-footer">
			<div class="number-field">
				<label class="number-label" for="raw-modifier">Modifier</label>
				<input id="raw-modifier" data-modifier="raw" type="number" value="0" step="1" min="-20" max="20">
				<div class="number-buttons">
					<button class="number-button increment-button"><i class="fas fa-plus-circle"></i></button>
					<button class="number-button decrement-button"><i  class="fas fa-minus-circle"></i></button>
				</div>
			</div>
			<button class="rollPrimeDice">Roll!</button>
		</div>
*/
.number-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number-field .number-label {
    font-size: 14px;
    color: #666;
    padding-right:4px;
}
.number-field .number-buttons {
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
}
.number-field .number-buttons .number-button {
    margin: 1px 2px;
    cursor: pointer;
    color: #666;
}
.number-field .number-buttons .number-button:hover {
    color: #333;
}
.roll-footer {
    width:100%;
    display:flex;
}
.roll-footer .number-field {
    flex: 0 0 auto;
    padding-right:10px;
}

.roll-footer .raw-modifier .button {
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url(../images/buttons.png) no-repeat;
}
.roll-footer .rollPrimeDice {
    flex: 1 1 auto;
}



.rollerPreparing i{
    animation: roller-prepare-animation 8s infinite linear;
    text-shadow: 0px 0px 5px #ff6100; /* Dialling it down from foundries */
    font-size: 19px;
}
.rollerReady i{
    animation: roller-ready-animation 5s infinite linear;
    font-size: 22px;
    color: #ff6100;
}

@keyframes roller-prepare-animation {
    0%{
        text-shadow: 0px 0px 5px #ff6100; /* Dialling it down from foundries */
    }
    10%{
        text-shadow: 0px 0px 5px yellow; /* Dialling it down from foundries */
    }
    20%{
        text-shadow: 0px 0px 5px #ff6100; /* Dialling it down from foundries */
    }
    60%{
        text-shadow: 0px 0px 5px red; /* Dialling it down from foundries */
    }
    100%{
        text-shadow: 0px 0px 5px #ff6100; /* Dialling it down from foundries */
        transform: rotate(720deg)
    }
}
@keyframes roller-ready-animation {
    0%{
        color: #ff6100;
    }
    10%{
        color: yellow;
    }
    20%{
        color: #ff6100;
    }
    60%{
        color: red;
    }
    100%{
        color: #ff6100;
        transform: rotate(720deg)
    }
}

.selectedRollerPrime {
    font-weight: bold;
    font-size: larger;
    color: #581818;
}

.selectedRollerRefinement {
    font-weight: bold;
    font-size: larger;
    color: #581818;
}

.primeCharacterSheet input.rollerModifier {
    width: 30px;
    margin-left: 1em;
    border-radius: 5px;
    background-color: var(--textLight);
}

.primeCharacterSheet .item.tableTitle.icon.rollerReady{
    max-width: 100px;
}
