
#chat-controls .roll-type-select i.fas.fa-dice-d20
{
    position:relative;
    color: #ff6400;
    background:#ffffff;
    width:26px;
    line-height:26px;
    text-align:center;
    border-radius: 5px;
    margin-right:3px;
    cursor:pointer;
    transition: box-shadow 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}


#chat-controls .roll-type-select i.fas.fa-dice-d20:active
{
    transform: translate(0px, 1px);
}

#chat-controls .roll-type-select i.fas.fa-dice-d20::before
{
    font-size: 24px;
    vertical-align: bottom;
}

#chat-controls .roll-type-select i.fas.fa-dice-d20:hover
{
    box-shadow: inset 0 0 3px #ff6400, 0 0 5px #ff6400;
    text-shadow: 0 0 3px #ff6400;
}

#chat-controls .roll-type-select i.fas.fa-dice-d20::after
{
    position:absolute;
    top:1px;
    left:0px;
    bottom:0px;
    right:0px;
    content: "P";
    text-align:center;
    color:black;
    font-family: 'New Rocker', cursive;
}


/*
	<div class="primeDiceWrapper">
		{{#each diceRolls}}
		<div class="primeDieWrapper {{primeDiceClass this.roll}}">
			<div class="primeDie"><i class="fas fa-dice-d20"></i> <span class="primeDieModifier">{{this.primeModifier}}</span></div>
			<div class="primeResultRaw">{{this.roll}}</div>
		</div>
		{{/each}}
	</div>
	<div class="primeDiceModiferTotal {{primeDiceModiferClass total}}">Total: {{total}}</div>
*/

.primeDiceWrapper
{
	display: flex;
}

.primeDiceWrapper .primeDieWrapper
{
}

.primeDiceWrapper .primeDieWrapper .primeDie
{
    position:relative;
	border-radius: 100%;
	background: url(../../../../ui/denim075.png) repeat;
	border: 1px solid #000000;
    margin:0.1em;
}

.primeDiceWrapper .primeDieWrapper .primeDie .fas.fa-dice-d20
{
	margin:0.1em;
	color:white;
	font-size: 2em;
}

.primeDiceWrapper .primeDieWrapper .primeDie .primeDieModifierOuter
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
	bottom:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.primeDiceWrapper .primeDieWrapper .primeDie .primeDieModifierInner
{
	font-size:1.5em;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px;
}

.primeDiceWrapper .primeDieWrapper.highPrimeRoll .primeDie .primeDieModifierInner::before
{
	content: "+";
}

.primeDiceWrapper .primeDieWrapper .primeResultRaw
{
	text-align:center;
	font-size: 0.6em;
}

.primeDiceWrapper .primeDieWrapper.lowPrimeRoll .fas.fa-dice-d20
{
    color: #ffcccc;
}
.primeDiceWrapper .primeDieWrapper.highPrimeRoll .fas.fa-dice-d20
{
    color: #ccffcc;
}

.primeDiceWrapper .primeDieWrapper.misfortunePrimeRoll .fas.fa-dice-d20
{
    color: #ff0000;
    font-weight:bold;
}
.primeDiceWrapper .primeDieWrapper.fortunePrimeRoll .fas.fa-dice-d20
{
    color: #00ff00;
}

.primeDiceWrapper .primeDieWrapper.fortunePrimeRoll .fas.fa-dice-d20::before
{
    font-weight:bold;
}

.primeDiceModiferTotal.highPrimeModifierResult
{
	color: #004100;
}

.primeDiceModiferTotal.lowPrimeModifierResult
{
	color: #410000;
}

.primeDiceModiferTotal.highPrimeModifierResult .value::before
{
	content: "+"
}