{{#if actor.inventory.shields}}
<div class="{{partialClasses}} meleeWeapons block">
    <div class="blockTitle">Shields</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th class="center"><i class="game-icon game-icon-fist icon-md"></i></th>
                    <th>Title</th>
                    <th class="center">Size</th>
                    <th class="center">Type</th>
                    <th class="center">Melee Block</th>
                    <th class="center">Ranged Block</th>
                    <th class="center" title="Damage rating">DR</th>
                    <th class="center">Hands</th>
                    <th>Wounds</th>
                    <th>Keywords</th>
					<th>Actions</th>
					
                </tr>
            </thead>
        <!-- <div>Title(Descriptions) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
            {{#each actor.inventory.shields as |item|}}
                <tr>
                    <td class="center">
                        <div class="attackIconWrapper">
                            <a class="attackWithWeapon"
                               data-dyn-click-at="actor.inventory.useItem()"
                               data-dyn-click-id="{{this.id}}">{{{traverse item.weapon.type 'iconHTML' from=../static.items.weapons.meleeTypes}}}</a>
                        </div>
                    </td>
                    <td title="{{convertHTMLForTitle item.weapon.description}}">
                        <a class="itemTitle"
                           data-dyn-click-at="actor.inventory.displayItem()"
                           data-dyn-click-id="{{this.id}}"><i class="fas fa-info-circle fa-xs"></i> {{item.name}}</a>
                    </td>
                    <td class="center">{{item.weapon.size}}</td>
                    <td class="center">{{item.weapon.type}}</td>

                    <td class="center">{{item.shield.meleeBlockBonus}}</td>
                    <td class="center">{{item.shield.rangedBlockBonus}}</td>

                    <td class="center">{{item.weapon.damageRating}}</td>
                    <td class="center">{{item.weapon.requiredHands}}</td>
                    <td>
                        {{#each (retain ../static.actor.woundConditions item.weapon.woundConditions) as |wound|}}
                            <span title="{{convertHTMLForTitle wound.description}}"
                                  class="hasTooltip">{{wound.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#each (retain ../static.items.weapons.keywords item.weapon.keywords) as |keyword|}}
                            <span title="{{convertHTMLForTitle keyword.description}}"
                                  class="hasTooltip">{{keyword.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#each (retain ../static.items.weapons.meleeActions item.weapon.actions) as |action|}}
                            <span title="{{convertHTMLForTitle action.description}}"
                                  class="hasTooltip">{{action.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}