

<div class="{{partialClasses}} generalItems block">
    <div class="blockTitle">All items</div>
    <div class="primeTableWrapper">
        <table class="inventoryTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th><i class="fas fa-trash"></i></th>
                </tr>
            </thead>
        <!-- <div>Title(Description) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each inventoryItems as |item index|}}
                <tr class="draggableItem inventoryItem" data-item-index="{{index}}">
                    <td title="{{convertHTMLForTitle item.name}}"><a class="itemTitle stopDrag" data-item-id="{{item._id}}"><i class="fas fa-external-link-alt fa-xs"></i><i class="fas fa-info-circle fa-xs"></i> {{cropToLength item.name 55}}</a></td>
                    <td title="{{convertHTMLForTitle item.data.description}}">{{{cropToLength item.data.description 55}}}</td>
                    <td class="center"><a class="deleteItemIcon stopDrag" data-item-id={{item._id}}><i class="fas fa-trash stopDrag"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>