{{#if filteredItems.ranged-weapon}}
<div class="{{partialClasses}} rangedWeapons block">
    <div class="blockTitle">Ranged Weapons</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th rowspan="2" class="center"><i class="game-icon game-icon-fist icon-md"></i></th>
                    <th rowspan="2">Title</th>
                    <th rowspan="2" class="center">Size</th>
                    <th rowspan="2" class="center">Type</th>
                    <th rowspan="2" class="center" title="Damage rating">DR</th>
                    <th rowspan="2" class="center">Hands</th>
                    <th rowspan="2">Wounds</th>
                    <th rowspan="2">Keywords</th>
                    <th rowspan="2">Actions</th>
                    <th colspan="5" class="center">Ranges</th>
                    <th rowspan="2" class="center">Ammo</th>
                    <th rowspan="2" class="center">Capacity</th>
                </tr>
                <tr>
                    <th class="hasTooltip center" title="Point blank">PB</th>
                    <th class="hasTooltip center" title="Short">S</th>
                    <th class="hasTooltip center" title="Medium">M</th>
                    <th class="hasTooltip center" title="Long">L</th>
                    <th class="hasTooltip center" title="Extreme">E</th>
                </tr>
            </thead>
        <!-- <div>Title(Descriptions) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each filteredItems.ranged-weapon as |weapon index|}}
                <tr>
                    <td class="center"><div class="attackIconWrapper"><a class="attackWithWeapon" data-armour-id={{weapon._id}}>{{{weapon.data.attackIcon}}}</a></div></td>
                    <td title="{{convertHTMLForTitle weapon.data.description}}"><a class="itemTitle" data-item-id="{{weapon._id}}"><i class="fas fa-info-circle fa-xs"></i> {{weapon.name}}</a></td>
                    <td class="center">{{weapon.data.weaponSize}}</td>
                    <td class="center">{{weapon.data.weaponType}}</td>
                    <td class="center">{{weapon.data.damageRating}}</td>
                    <td class="center">{{weapon.data.requiredHands}}</td>

                    <td>{{{weapon.data.woundConditions}}}</td>
                    <td>{{{weapon.data.keywords}}}</td>
                    <td>{{{weapon.data.customActions}}}</td>

                    <td class="center">{{{weapon.data.ranges.pointBlank.value}}}</td>
                    <td class="center">{{{weapon.data.ranges.short.value}}}</td>
                    <td class="center">{{{weapon.data.ranges.medium.value}}}</td>
                    <td class="center">{{{weapon.data.ranges.long.value}}}</td>
                    <td class="center">{{{weapon.data.ranges.extreme.value}}}</td>

                    <td class="center">{{{weapon.data.ammo.type}}}</td>
                    <td class="center">{{{weapon.data.ammo.capacity}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}