{{#if actor.inventory.armour}}
    <div class="{{partialClasses}} armour block">
        <div class="blockTitle">Armour</div>
        <div class="primeTableWrapper">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th class="center">Type</th>
                    <th class="center">Protection</th>
                    <th class="center">Resilience</th>
                    <th>Keywords</th>
                    <th>Untrained</th>
                    <th class="center hasTooltip" title="Is worn?"><i class="game-icon game-icon-clothes icon-md"></i>
                    </th>
                </tr>
                </thead>
                <!-- <div>Title(Descriptions) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
                <tbody>
                {{#each actor.inventory.armour as |item|}}
                    <tr>
                        <td title="{{convertHTMLForTitle item.descriptions.core}}">
                            <a class="itemTitle"
                               data-dyn-click-at="actor.inventory.displayItem()"
                               data-dyn-click-id="{{this.id}}">
                                <i class="fas fa-info-circle fa-xs"></i> {{item.name}}</a>
                        </td>
                        <td class="center">{{item.armour.type}}</td>
                        <td class="center">{{item.armour.protection}}</td>
                        <td class="center">{{item.armour.resilience}}</td>
                        <td>
                            {{#each (retain ../static.items.armour.keywords item.armour.keywords) as |keyword|}}
                                <span title="{{convertHTMLForTitle keyword.description}}"
                                      class="hasTooltip">{{keyword.title}}</span>{{#if (not @last)}}, {{/if}}
                            {{/each}}
                        </td>
                        <td>
                            {{#each (retain ../static.items.armour.untrainedPenalties item.armour.untrainedPenalties) as |untrainedPenalty|}}
                                <span title="{{convertHTMLForTitle untrainedPenalty.description}}"
                                      class="hasTooltip">{{untrainedPenalty.title}}</span>{{#if (not @last)}}, {{/if}}
                            {{/each}}
                        </td>
                        <td class="center"><input type="checkbox" class="armourWornCheckbox"
                                                  data-dyn-type="boolean"
                                                  data-dyn-change-at="actor.inventory.toggleItemEquipped()"
                                                  data-dyn-select="actor.inventory.isItemEquipped()"
                                                  data-dyn-id="{{this.id}}" {{itemChecked item.equipped}}></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}