{{#if actor.inventory.rangedWeapons}}
<div class="{{partialClasses}} rangedWeapons block">
    <div class="blockTitle">Ranged Weapons</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th rowspan="2" class="center"><i class="game-icon game-icon-fist icon-md"></i></th>
                    <th rowspan="2">Title</th>
                    <th rowspan="2" class="center">Size</th>
                    <th rowspan="2" class="center">Type</th>
                    <th rowspan="2" class="center" title="Damage rating">DR</th>
                    <th rowspan="2" class="center">Hands</th>
                    <th rowspan="2">Wounds</th>
                    <th rowspan="2">Keywords</th>
                    <th rowspan="2">Actions</th>
                    <th colspan="5" class="center">Ranges</th>
                    <th rowspan="2" class="center">Ammo</th>
                    <th rowspan="2" class="center">Capacity</th>
                </tr>
                <tr>
                    <th class="hasTooltip center" title="Point blank">PB</th>
                    <th class="hasTooltip center" title="Short">S</th>
                    <th class="hasTooltip center" title="Medium">M</th>
                    <th class="hasTooltip center" title="Long">L</th>
                    <th class="hasTooltip center" title="Extreme">E</th>
                </tr>
            </thead>
        <!-- <div>Title(Descriptions) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each actor.inventory.ordered.rangedWeapons as |item|}}
                <tr>
                    <td class="center">
                        <div class="attackIconWrapper">
                            <a class="attackWithWeapon"
                               data-dyn-click-at="actor.inventory.useItem()"
                               data-dyn-click-id="{{this.id}}">{{{traverse item.weapon.type 'iconHTML' from=../static.items.weapons.rangedTypes}}}</a>
                        </div>
                    </td>
                    <td title="{{convertHTMLForTitle item.weapon.description}}">
                        <a class="itemTitle"
                           data-dyn-click-at="actor.inventory.displayItem()"
                           data-dyn-click-id="{{this.id}}"><i class="fas fa-info-circle fa-xs"></i> {{item.name}}</a>
                    </td>
                    <td class="center">{{item.weapon.size}}</td>
                    <td class="center">{{item.weapon.type}}</td>
                    <td class="center">{{item.weapon.damageRating}}</td>
                    <td class="center">{{item.weapon.requiredHands}}</td>
                    <td>
                        {{#each (retain ../static.actor.woundConditions item.weapon.woundConditions) as |wound|}}
                            <span title="{{convertHTMLForTitle wound.description}}"
                                  class="hasTooltip">{{wound.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#each (retain ../static.items.weapons.keywords item.weapon.keywords) as |keyword|}}
                            <span title="{{convertHTMLForTitle keyword.description}}"
                                  class="hasTooltip">{{keyword.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#each (retain ../static.items.weapons.rangedActions item.weapon.actions) as |action|}}
                            <span title="{{convertHTMLForTitle action.description}}"
                                  class="hasTooltip">{{action.title}}</span>{{#if (not @last)}}, {{/if}}
                        {{/each}}
                    </td>

                    <td class="center">{{{item.weapon.ranges.pointBlank}}}</td>
                    <td class="center">{{{item.weapon.ranges.short}}}</td>
                    <td class="center">{{{item.weapon.ranges.medium}}}</td>
                    <td class="center">{{{item.weapon.ranges.long}}}</td>
                    <td class="center">{{{item.weapon.ranges.extreme}}}</td>

                    <td class="center">{{{item.weapon.ammo.type}}}</td>
                    <td class="center">{{{item.weapon.ammo.capacity}}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}