{{#if filteredItems.armour}}
<div class="{{partialClasses}} armour block">
    <div class="blockTitle">Armour</div>
    <div class="primeTableWrapper">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="center">Type</th>
                    <th class="center">Protection</th>
                    <th class="center">Resilience</th>
                    <th>Keywords</th>
                    <th>Untrained</th>
                    <th class="center hasTooltip" title="Is worn?"><i class="game-icon game-icon-clothes icon-md"></i></th>
                </tr>
            </thead>
        <!-- <div>Title(Description) | (Size) | (Type) | (DR) | Hands | Wounds | Keywords | Actions</div> -->
            <tbody>
                {{#each filteredItems.armour as |armour index|}}
                <tr>
                    <td title="{{convertHTMLForTitle armour.system.description}}"><a class="itemTitle" data-item-id="{{armour.itemID}}"><i class="fas fa-info-circle fa-xs"></i> {{armour.name}}</a></td>
                    <td class="center">{{armour.system.armourType}}</td>
                    <td class="center">{{armour.system.protection}}</td>
                    <td class="center">{{armour.system.armourResilience}}</td>
                    <td>{{{armour.system.keywords}}}</td>
                    <td>{{{armour.system.untrainedPenalty}}}</td>
                    <td class="center"><input type="checkbox" class="armourWornCheckbox" data-armour-id="{{armour.itemID}}" {{itemChecked armour.system.isWorn}}></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}