<form class="{{cssClass}} itemSheet perkItem flexColumn " autocomplete="off">
	<div class="flexRow">
        {{> itemImage}}
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
            {{> itemName}}

            {{> itemSetting partialClasses="lastRow"}}

            {{> itemOwnership}}
		</div>
	</div>

	<div class="flexRow flexBetween flexWrap block infoBlock costsBlock">
		<div class="blockTitle">Cost</div>

		<div class="cell40 flexRow flexBetween verticalCenter">
			<label for="item.cost.amount" class="resource-label cell50 rightAlign">Amount:</label>
			<input type="number" id="item.cost.amount" class="cell50" value="{{item.cost.amount}}"
                   data-dyn-type="Number"
                   data-dyn-change-at="item.cost.amount"/>
		</div>

		<div class="cell60 flexRow flexBetween verticalCenter">
			<label for="item.cost.type" class="resource-label cell20 rightAlign">Type:</label>
			<select id="item.cost.type" class="cell80"
                    data-dyn-change-at="item.cost.type"
                    data-dyn-select="item.cost.type">
				{{#each static.core.spiritualCosts}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	{{> itemModifiers effectTitle="Effect(s)"}}

	{{> itemPrerequisites }}


	{{> itemDescription }}

	{{> itemAudit }}
</form>