<form class="{{cssClass}} flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			<div class="flexRow infoBlock">
				<div class="cell50 flexRow verticalCenter flexBetween">
					<label class="cell60" for="data.quantity" >Quantity:</label>
					<input class="cell40" type="text" id="data.quantity" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
				</div>

				<div class="cell50 flexRow verticalCenter flexBetween">
					<label class="cell60" for="data.weight">Weight:</label>
					<input class="cell40" type="text" id="data.weight" name="data.weight" value="{{data.weight}}" data-dtype="String" />
				</div>

				<div class="cell100 flexRow verticalCenter flexBetween lastRow">
					<label class="cell25">{{localize "PRIME.item_rarity"}}:</label>
					<select name="data.rarity" id="data.rarity" class="itemRarity cell75">
						{{#select data.rarity}}
						{{#each tables.rarity}}
						<option value="{{this.key}}">{{this.title}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="flexRow flexWrap block infoBlock">
		<div class="blockTitle">Weapon details</div>
		
		<div class="cell50 flexRow verticalCenter">
			<label for="data.weaponSize" class="resource-label cell50">Size:</label>
			<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
			<select name="data.weaponSize" class="itemValueType cell50">
				{{#select data.weaponSize}}
				{{#each tables.weapons.sizes}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="cell50 flexRow verticalCenter">
			<label for="data.weaponType" class="resource-label cell50">Type:</label>
			<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
			<select id="data.weaponType" name="data.weaponType" class="cell50">
				{{#select data.weaponType}}
				{{#each tables.weapons.rangedTypes}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="cell50 flexRow verticalCenter">
			<label for="data.damageRating" class="resource-label cell50">Damage rating:</label>
			<input type="text" id="data.damageRating" name="data.damageRating" class="cell50" value="{{data.damageRating}}" data-dtype="Number" data-min="-5" data-max="5"/>
		</div>
		<div class="cell50 flexRow verticalCenter">
			<label for="data.requiredHands" class="resource-label cell50">Hands required:</label>
			<select id="data.requiredHands" name="data.requiredHands" class="itemValueType cell50">
				{{#select data.requiredHands}}
				<option value="1">One</option>
				<option value="2">Two</option>
				{{/select}}
			</select>
		</div>

		<div class="cell100 flexRow verticalCenter flexCenter checkboxGroupTitle {{checkboxGroupState checkboxGroupStates.wounds}}" data-checkbox-group="wounds">
			<div class="cell100">
				Wound conditions: 
				{{#each checkboxGroups.wounds.selectedItems as |wound key|}}
				<span title="{{wound.description}}" class="hasTooltip">{{wound.title}}</span>{{#isNotLastItem key ../checkboxGroups.wounds.selectedItems.length}}, {{/isNotLastItem}}
				{{/each}}
			</div>
			<i class="fas fa-chevron-circle-up"></i>
			<i class="fas fa-chevron-circle-down"></i>
		</div>
		<div class="cell100 flexRow verticalCenter flexBetween flexWrap checkboxGroupWrapper {{checkboxGroupState checkboxGroupStates.wounds}}" data-checkbox-group="wounds">
			{{#each checkboxGroups.wounds.optionsData as |wound key|}}
			<div class="flexRow verticalCenter cell33 flexBetween">
				<label for="{{wound.key}}" class="resource-label hasTooltip" title="{{wound.description}}">{{wound.title}}:</label>
				<input type="checkbox" id="{{wound.key}}" name="data.woundConditions" value="{{wound.key}}" {{checked wound.checked}}/>
			</div>
			{{/each}}
		</div>

		<div class="cell100 flexRow verticalCenter flexCenter checkboxGroupTitle {{checkboxGroupState checkboxGroupStates.keywords}}" data-checkbox-group="keywords">
			<div class="cell100">Keywords:
				{{#each checkboxGroups.keywords.selectedItems as |keyword key|}}
				<span title="{{keyword.description}}" class="hasTooltip">{{keyword.title}}</span>{{#isNotLastItem key ../checkboxGroups.keywords.selectedItems.length}}, {{/isNotLastItem}}
				{{/each}}
			</div>
			<i class="fas fa-chevron-circle-up"></i>
			<i class="fas fa-chevron-circle-down"></i>
		</div>
		<div class="cell100 flexRow verticalCenter flexBetween flexWrap checkboxGroupWrapper {{checkboxGroupState checkboxGroupStates.keywords}}" data-checkbox-group="keywords">
			{{#each checkboxGroups.keywords.optionsData as |keyword key|}}
			<div class="flexRow verticalCenter cell33 flexBetween">
				<label for="{{keyword.key}}" class="resource-label hasTooltip" title="{{keyword.description}}">{{keyword.title}}:</label>
				<input type="checkbox" id="{{keyword.key}}" name="data.keywords" value="{{keyword.key}}" {{checked keyword.checked}}/>
			</div>
			{{/each}}
		</div>

		<div class="cell100 flexRow verticalCenter flexCenter checkboxGroupTitle {{checkboxGroupState checkboxGroupStates.actions}}" data-checkbox-group="actions">
			<div class="cell100">Custom actions:
				{{#each checkboxGroups.actions.selectedItems as |action key|}}
				<span title="{{action.description}}" class="hasTooltip">{{action.title}}</span>{{#isNotLastItem key ../checkboxGroups.actions.selectedItems.length}}, {{/isNotLastItem}}
				{{/each}}
			</div>
			<i class="fas fa-chevron-circle-up"></i>
			<i class="fas fa-chevron-circle-down"></i>
		</div>
		<div class="cell100 lastRow flexRow verticalCenter flexBetween flexWrap checkboxGroupWrapper {{checkboxGroupState checkboxGroupStates.actions}}" data-checkbox-group="actions">
			{{#each checkboxGroups.actions.optionsData as |action key|}}
			<div class="flexRow verticalCenter cell33 flexBetween">
				<label for="{{action.key}}" class="resource-label hasTooltip" title="{{action.description}}">{{action.title}}:</label>
				<input type="checkbox" id="{{action.key}}" name="data.customActions" value="{{action.key}}" {{checked action.checked}}/>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="flexRow block flexWrap flexBetween verticalCenter infoBlock">
		<div class="blockTitle">Ranges</div>
		<div class="cell33">&nbsp;</div>
		<div class="cell33">From</div>
		<div class="cell33">To</div>
		{{#each data.ranges as |rangeBlock key|}}
		<div class="cell33 flexRow flexEnd verticalCenter">{{localize rangeBlock.title}}: </div>
		<div class="cell33">
			<input type="text" id="data.ranges.{{key}}.from" name="data.ranges.{{key}}.from" class="cell100" value="{{rangeBlock.from}}" data-dtype="Number"/>
		</div>
		<div class="cell33">
			<input type="text" id="data.ranges.{{key}}.to" name="data.ranges.{{key}}.to" class="cell100" value="{{rangeBlock.to}}" data-dtype="Number"/>
		</div>
		{{/each}}
	</div>

	<div class="flexRow block flexWrap flexBetween verticalCenter infoBlock">
		<div class="blockTitle">Ammunition</div>
		<div class="cell50 flexRow flexBetween verticalCenter">
			<label for="data.ammo.capacity" class="resource-label cell50">Capacity:</label>
			<input type="text" id="data.ammo.capacity" name="data.ammo.capacity" class="cell50" value="{{data.ammo.capacity}}" data-dtype="Number"/>
		</div>
		<div class="cell50 flexRow flexBetween verticalCenter">
			<label for="data.ammo.type" class="resource-label cell50">Type:</label>
			<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
			<select id="data.ammo.type" name="data.ammo.type" class="cell50">
				{{#select data.ammo.type}}
				{{#each tables.weapons.ammoTypes}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>


	</div>

	<div class="flexRow block">
		<div class="blockTitle">Value</div>
		<div class="cell50 flexColumn">
			<label for="data.valueTypeID">Type: </label>
			<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
			<select id="data.valueTypeID" name="data.valueType" class="itemValueType">
				{{#select data.valueType}}
				<option value="personal">Personal $</option>
				<option value="ship">Ship $</option>
				{{/select}}
			</select>
		</div>
		<div class="cell50 flexColumn">
			<label  for="data.valueAmount">Amount: </label>
			<input type="text" id="data.valueAmount" name="data.valueAmount" value="{{data.valueAmount}}" data-dtype="Number" />
		</div>
	</div>
		
	<div class="block descriptionBlock">
		<div class="blockTitle">Description</div>
		{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
	</div>

	<div class="block bottomBlockTitle metaDataBlock flexColumn flexCenter">
		<div class="blockTitle">Entry metadata</div>
		<div>Author: {{data.creator}} | Created: {{data.created}}</div>
		<div></div>Updater: {{data.updater}} | Updated: {{data.updated}}</div>
	</div>
</form>