<form class="{{cssClass}} itemSheet rangedWeaponItem flexColumn" autocomplete="off">
	<div class="flexRow">
        {{> itemImage}}
		{{> itemBasic }}
	</div>

	<div class="flexRow flexWrap flexBetween block infoBlock">
		<div class="blockTitle">Weapon details</div>
        {{aliasAs 'WeaponActions' static.items.weapons.rangedActions}}
        {{aliasAs 'WeaponTypes' static.items.weapons.rangedTypes}}
        {{> itemWeapon}}
	</div>

	<div class="flexRow block flexWrap verticalCenter infoBlock">
		<div class="blockTitle">Ranges</div>
		{{#each static.items.weapons.ranges as |range|}}
		<div class="cell33 flexRow flexBetween">
			<div class="cell70 flexRow flexEnd verticalCenter">{{localize range.title}}: </div>
			<div class="cell30">
				<input type="number" id="item.weapon.ranges.{{@key}}" class="cell100" value="{{traverse @key from=../item.weapon.ranges}}"
                       data-dyn-type="number"
                       data-dyn-change-at="item.weapon.ranges.{{@key}}"/>
			</div>
		</div>
		{{/each}}
	</div>

	<div class="flexRow block flexWrap flexBetween verticalCenter infoBlock">
		<div class="blockTitle">Ammunition</div>
		<div class="cell50 flexRow flexBetween verticalCenter">
			<label for="item.weapon.ammo.capacity" class="resource-label cell50">Capacity:</label>
			<input type="number" id="item.weapon.ammo.capacity"  class="cell50" value="{{item.weapon.ammo.capacity}}"
                   data-dyn-type="number"
                   data-dyn-change-at="item.weapon.ammo.capacity"/>
		</div>
		<div class="cell50 flexRow flexBetween verticalCenter">
			<label for="item.weapon.ammo.type" class="resource-label cell50">Type:</label>
			<select id="item.weapon.ammo.type" class="cell50"
                    data-dyn-change-at="item.weapon.ammo.type">
				{{#select item.weapon.ammo.type}}
				{{#each static.items.weapons.ammoTypes}}
				<option value="{{@key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	{{> itemValue }}


    {{> itemModifiers effectTitle="Effect(s)"}}

    {{> itemPrerequisites }}

	{{> itemDescription }}

	{{> itemAudit }}
</form>