<form class="{{cssClass}} itemSheet injuryItem flexColumn " autocomplete="off">
	<div class="flexRow">
        {{> itemImage}}
		{{> itemBasic }}
	</div>
	<div class="flexRow block noTitle flexCenter verticalCenter">
		<label for="data.injuryType" class="resource-label cell30 rightAlign">Type:&nbsp;</label>
		<select id="data.injuryType" name="data.injuryType" class="cell70">
			{{#select data.data.injuryType}}
			<option value="wound">{{localize "PRIME.injury_type_wound"}}</option>
			<option value="insanity">{{localize "PRIME.injury_type_insanity"}}</option>
			{{/select}}
		</select>
	</div>

	{{> itemModifiers effectsData=untendedEffects effectTitle="Untended Effect(s)" effectType="untendedEffect"}}

	{{> itemModifiers effectsData=tendedEffects effectTitle="Tended Effect(s)" effectType="tendedEffect" }}

	{{> itemModifiers effectsData=permanentEffects effectTitle="Permanent Effect(s)" effectType="permanentEffect" }}


	{{> itemDescription }}

	{{> itemAudit }}
</form>