<form class="{{cssClass}} armourItem flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>

		{{> itemBasic }}
	</div>
	
	<div class="flexRow flexWrap block infoBlock flexBetween">
		<div class="blockTitle">Armour details</div>
		
		<div class="cell100 flexRow verticalCenter flexBetween">
			<label for="data.armourType" class="resource-label cell30">Type:</label>
			<select name="data.armourType" class="itemValueType cell70">
				{{#select data.armourType}}
				{{#each itemTables.armour.types}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>

		<div class="cell50 flexRow verticalCenter flexBetween">
			<label for="data.protection" class="resource-label cell40">Protection:</label>
			<input class="cell60" type="text" id="data.protection" name="data.protection" value="{{data.protection}}" data-dtype="Number" data-min="0" data-max="5"/>
		</div>

		<div class="cell50 flexRow verticalCenter flexBetween">
			<label for="data.armourResilience" class="resource-label cell70">Armour resilience:</label>
			<input type="text" id="data.armourResilience" name="data.armourResilience" class="cell30" value="{{data.armourResilience}}" data-dtype="Number" data-min="0" data-max="5"/>
		</div>

		<div class="cell100 flexRow verticalCenter flexCenter checkboxGroupTitle {{checkboxGroupState checkboxGroupStates.keywords}}" data-checkbox-group="keywords">
			<div class="cell100">Keywords:
				{{#each checkboxGroups.keywords.selectedItems as |keyword key|}}
				<span title="{{keyword.description}}" class="hasTooltip">{{keyword.title}}</span>{{#isNotLastItem key ../checkboxGroups.keywords.selectedItems.length}}, {{/isNotLastItem}}
				{{/each}}
			</div>
			<i class="fas fa-chevron-circle-up"></i>
			<i class="fas fa-chevron-circle-down"></i>
		</div>
		<div class="cell100 flexRow verticalCenter flexBetween flexWrap checkboxGroupWrapper {{checkboxGroupState checkboxGroupStates.keywords}}" data-checkbox-group="keywords">
			{{#each checkboxGroups.keywords.optionsData as |keyword key|}}
			<div class="flexRow verticalCenter cell33 flexBetween">
				<label for="{{keyword.key}}" class="resource-label hasTooltip" title="{{keyword.description}}">{{keyword.title}}:</label>
				<input class="checkboxGroup" data-effect-id="{{keyword.effectID}}" data-group-type="checkbox-keywords" type="checkbox" id="{{keyword.key}}" name="data.keywords.{{key}}" value="{{keyword.key}}" {{checked keyword.checked}}/>
			</div>
			{{/each}}
		</div>

		<div class="cell100 flexRow verticalCenter flexCenter checkboxGroupTitle {{checkboxGroupState checkboxGroupStates.actions}}" data-checkbox-group="actions">
			<div class="cell100">Untrained penalty:
				{{#each checkboxGroups.untrainedPenalty.selectedItems as |untrainedPenalty key|}}
				<span title="{{untrainedPenalty.description}}" class="hasTooltip">{{untrainedPenalty.title}}</span>{{#isNotLastItem key ../checkboxGroups.untrainedPenalty.selectedItems.length}}, {{/isNotLastItem}}
				{{/each}}
			</div>
			<i class="fas fa-chevron-circle-up"></i>
			<i class="fas fa-chevron-circle-down"></i>
		</div>
		<div class="cell100 lastRow flexRow verticalCenter flexBetween flexWrap checkboxGroupWrapper {{checkboxGroupState checkboxGroupStates.actions}}" data-checkbox-group="actions">
			{{#each checkboxGroups.untrainedPenalty.optionsData as |untrainedPenalty key|}}
			<div class="flexRow verticalCenter cell33 flexBetween">
				<label for="{{untrainedPenalty.key}}" class="resource-label hasTooltip" title="{{untrainedPenalty.description}}">{{untrainedPenalty.title}}:</label>
				<input class="checkboxGroup" data-effect-id="{{untrainedPenalty.effectID}}" data-group-type="checkbox-untrained" type="checkbox" id="{{untrainedPenalty.key}}" name="data.untrainedPenalty" value="{{untrainedPenalty.key}}" {{checked untrainedPenalty.checked}}/>
			</div>
			{{/each}}
		</div>
	</div>

	{{> itemValue }}
		
	{{> itemDescription }}

	{{> itemMetadata }}
</form>