<form class="{{cssClass}} itemSheet meleeWeaponItem flexColumn " autocomplete="off">
	<div class="flexRow">
        {{> itemImage}}
		{{> itemBasic }}
	</div>

	<div class="flexRow flexWrap block infoBlock">
		<div class="blockTitle">Block bonus</div>
		<div class="cell50 flexRow verticalCenter">
			<label for="item.shield.meleeBlockBonus" class="resource-label cell50">Melee:</label>
			<input type="number" id="item.shield.meleeBlockBonus" class="cell50" value="{{item.shield.meleeBlockBonus}}"
                   data-dyn-type="number"
                   data-dyn-change-at="item.shield.meleeBlockBonus"/>
		</div>
		<div class="cell50 flexRow verticalCenter">
			<label for="item.shield.rangedBlockBonus" class="resource-label cell50">Ranged:</label>
			<input type="number" id="item.shield.rangedBlockBonus" class="cell50" value="{{item.shield.rangedBlockBonus}}"
                   data-dyn-type="number"
                   data-dyn-change-at="item.shield.rangedBlockBonus"/>
		</div>
	</div>
	
	<div class="flexRow flexWrap block infoBlock">
		<div class="blockTitle">Combat abilities (optional)</div>

        {{alias 'WeaponActions' static.items.weapons.meleeActions}}
        {{alias 'WeaponTypes' static.items.weapons.meleeTypes}}
        {{> itemWeapon}}
	</div>

	{{> itemValue }}

    {{> itemModifiers effectTitle="Effect(s)"}}

    {{> itemPrerequisites }}

	{{> itemDescription }}

	{{> itemAudit }}
</form>