<form class="{{cssClass}} perkItem flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			
			<div class="cell100 flexRow verticalCenter flexBetween lastRow">
				<label class="cell30" for="data.setting">{{localize "PRIME.core_setting"}}:</label>
				<select name="data.setting" id="data.setting" class="itemRarity cell70">
					{{#select data.setting}}
					{{#each coreTables.settings}}
					<option value="{{this.key}}">{{this.title}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="ownershipStatusIcon">
				{{#if isOwned}}
				<i class="fas fa-user hasTooltip" title="Item is owned by character: '{{owningCharacterName}}'"></i>
				{{else}}
				<i class="fas fa-users hasTooltip" title="Main item template - Item is no owned."></i>
				{{/if}}
			</div>
		</div>
	</div>

	<div class="flexRow flexBetween flexWrap block infoBlock costsBlock">
		<div class="blockTitle">Cost</div>

		<div class="cell40 flexRow flexBetween verticalCenter">
			<label for="data.cost.amount" class="resource-label cell50 rightAlign">Amount:</label>
			<input type="text" id="data.cost.amount" name="data.cost.amount" class="cell50" value="{{data.cost.amount}}" data-dtype="Number" data-min="0" data-max="100"/>
		</div>

		<div class="cell60 flexRow flexBetween verticalCenter">
			<label for="data.cost.attributeType" class="resource-label cell20 rightAlign">Type:</label>
			<select id="data.cost.attributeType" name="data.cost.attributeType" class="cell80" data-effect-id="{{effectID}}" data-effect-flag-key="path">
				{{#select data.cost.attributeType}}
				{{#each perkTables.costs}}
				<option value="{{this.key}}">{{this.title}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	{{> itemEffects effectsData=bonuses effectTitle="Effect(s)" effectType="bonus"}}

	{{> itemPrerequisites }}


	{{> itemDescription }}

	{{> itemMetadata }}
</form>