<form class="{{cssClass}} itemSheet meleeWeaponItem flexColumn " autocomplete="off">
	<div class="flexRow">
        {{> itemImage}}
		{{> itemBasic }}
	</div>
	
	<div class="flexRow flexWrap block infoBlock">
		<div class="blockTitle">Weapon details</div>
        {{alias 'WeaponActions' static.items.weapons.meleeActions}}
        {{alias 'WeaponTypes' static.items.weapons.meleeTypes}}
        {{> itemWeapon}}
	</div>

	{{> itemValue }}

	{{> itemModifiers effectTitle="Effect(s)"}}

    {{> itemPrerequisites }}

	{{> itemDescription }}

	{{> itemAudit }}
</form>