<form class="{{cssClass}} perkItem flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			<div class="cell100 flexRow verticalCenter flexBetween lastRow">
				<label class="cell30" for="data.setting">{{localize "PRIME.core_setting"}}:</label>
				<select name="data.setting" id="data.setting" class="itemRarity cell70">
					{{#select data.setting}}
					{{#each coreTables.settings}}
					<option value="{{this.key}}">{{this.title}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
	</div>
	
	{{> itemDescription }}

	{{> itemMetadata }}
</form>