<form class="{{cssClass}} flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell20 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell80 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input name="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			<div class="flexRow infoBlock">
				<div class="cell50 flexRow verticalCenter flexBetween firstRow">
					<label class="cell50" for="data.quantity" >Quantity:</label>
					<input class="cell50" type="text" id="data.quantity" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
				</div>

				<div class="cell50 flexRow verticalCenter flexBetween firstRow">
					<label class="cell50" for="data.weight">Weight:</label>
					<input class="cell50" type="text" id="data.weight" name="data.weight" value="{{data.weight}}" data-dtype="String" />
				</div>

				<div class="cell100 flexRow verticalCenter flexBetween">
					<label class="cell25">Rarity:</label>
					<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
					<select name="data.rarity" id="data.rarity" class="itemRarity cell75">
						{{#select data.rarity}}
						<option value="common">Common</option>
						<option value="uncommon">Uncommon</option>
						<option value="Scarce">Scarce</option>
						<option value="rare">Rare</option>
						<option value="legendary">Legendary</option>
						<option value="unique">Unique</option>
						{{/select}}
					</select>
				</div>
			</div>
		</div>
	</div>
		
	<div class="flexRow block">
		<div class="blockTitle">Value</div>
		<div class="cell50 flexColumn">
			<label class="resource-label">Type</label>
			<!--<input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />-->
			<select name="data.valueType" class="itemValueType">
				{{#select data.valueType}}
				<option value="personal">Personal $</option>
				<option value="ship">Ship $</option>
				{{/select}}
			</select>
		</div>
		<div class="cell50 flexColumn">
			<label class="resource-label" for="data.valueAmount">Amount</label>
			<input type="text" id="data.valueAmount" name="data.valueAmount" value="{{data.valueAmount}}" data-dtype="Number" />
		</div>
	</div>
		
	<div class="block descriptionBlock">
		<div class="blockTitle">Description</div>
		{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
	</div>

	<div class="block blockTitle metaDataBlock ">
		<div class="blockTitle">Entry metadata</div>
		Author: {{data.metadata.creator}} | Created: {{data.metadata.created}} | Updated: {{data.metadata.updated}}
	</div>

</form>