<form class="{{cssClass}} perkItem flexColumn " autocomplete="off">
	<div class="flexRow">
		<div class="cell30 block noTitle imageWrapper flexRow flexCenter verticalCenter">
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
		<div class="cell70 block flexColumn">
			<div class="blockTitle">Basic information</div>
			<h1 class="entityName">
				<label for="name">Name:</label>
				<input id="name" type="text" value="{{item.name}}" placeholder="Name" />
			</h1>
			<div class="cell100 flexRow verticalCenter flexBetween">
				<label class="cell30" for="setting">{{localize "PRIME.core_setting"}}:</label>
				<select  id="setting" class="primeSetting cell70"
						data-dyn-change-at="item.setting"
						data-dyn-select="item.setting">
					{{#each coreTables.settings}}
					<option value="{{this.key}}">{{this.title}}</option>
					{{/each}}
				</select>
			</div>
			<div class="cell100 flexRow verticalCenter flexBetween">
				<label class="cell30" for="statType">{{localize "PRIME.core_stat_type"}}:</label>
				<select id="statType" class="primeSetting cell70"
						data-dyn-change-at="item.statType"
						data-dyn-select="item.statType">
					<option value="physical">{{localize "PRIME.stat_type_physical"}}</option>
					<option value="mental">{{localize "PRIME.stat_type_mental"}}</option>
					<option value="supernatural">{{localize "PRIME.stat_type_supernatural"}}</option>
				</select>
			</div>
			<div class="cell100 flexRow verticalCenter flexBetween">
				<div class="cell50 flexRow verticalCenter lastRow">
					<label for="default" class="resource-label cell80 rightAlign" title="Action is available to all characters by default.">Default:</label>
					<input type="checkbox" id="default"  class="cell20"
						   data-dyn-change-at="item.default"
						   data-dyn-select="item.default"/>
				</div>
				<div class="cell50 flexRow verticalCenter lastRow">
					<label for="customisable" class="resource-label cell80 rightAlign" title="Action can be edited when added to the character.">Customisable:</label>
					<input type="checkbox" id="customisable"class="cell20"
						   data-dyn-change-at="item.customisable"
						   data-dyn-select="item.customisable"/>
				</div>
			</div>
		</div>
	</div>
	
	{{> itemDescription }}

	{{> itemMetadata }}
</form>